.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_deskripsi_label { }
.css_deskripsi_line { }
.css_deskripsi_obj { }
.css_keterangan_label { }
.css_keterangan_line { }
.css_keterangan_obj { }
.css_parent_id_label { }
.css_parent_id_line {text-align:left;}
.css_parent_id_obj {text-align:left;}
.css_job_desc_label { }
.css_job_desc_line { }
.css_job_desc_obj { }
