.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_province_id_det_label {text-align: right;vertical-align: middle;}
.css_province_id_det_line {height:0px;text-align: right;}
.css_name_det_label {text-align: right;vertical-align: middle;}
.css_name_det_line {height:0px;text-align: right;}
