.css_id_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_province_id_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_province_id_grid_line {vertical-align: top;text-align: right;}
.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: right;}
