.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_bahan__label { }
.css_bahan__line { }
.css_bahan__obj { }
.css_satuan__label { }
.css_satuan__line { }
.css_satuan__obj { }
.css_keterangan__label { }
.css_keterangan__line { }
.css_keterangan__obj { }
.css_refharga__label { }
.css_refharga__line {text-align:left;}
.css_refharga__obj {text-align:left;}
.css_supplier__label { }
.css_supplier__line { }
.css_supplier__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_disetujui__label { }
.css_disetujui__line {text-align:left;}
.css_disetujui__obj {text-align:left;}
.css_diterima__label { }
.css_diterima__line {text-align:left;}
.css_diterima__obj {text-align:left;}
.css_hargareal__label { }
.css_hargareal__line {text-align:left;}
.css_hargareal__obj {text-align:left;}
.css_stok__label { }
.css_stok__line { }
.css_stok__obj { }
.css_subtotal__label {text-align:right;}
.css_subtotal__line {text-align:right;}
.css_subtotal__obj {text-align:right;}
