#calendar_mini .fc-day-header { text-align: center }
#calendar_mini .fc-day-top { text-align: center }
#calendar_mini .fc-state-highlight { text-align: center }
.scCalendarCategoryTitle { text-align: left }
.scCalendarCategoryItem { text-align: left }
