.css_adjcode_label { }
.css_adjcode_line { }
.css_adjcode_obj { }
.css_depo_label { }
.css_depo_line { }
.css_depo_obj { }
.css_trandate_label { }
.css_trandate_line { }
.css_trandate_obj { }
.css_adjby_label { }
.css_adjby_line { }
.css_adjby_obj { }
.css_jenisadj_label { }
.css_jenisadj_line {text-align:left;}
.css_jenisadj_obj {text-align:left;}
.css_note_label { }
.css_note_line { }
.css_note_obj { }
.css_status_label { }
.css_status_line {text-align:left;}
.css_status_obj {text-align:left;}
.css_detail_label { }
.css_detail_line { }
.css_detail_obj { }
