.css_radcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_radcode_grid_line {vertical-align: top;text-align: left;}
.css_kelas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kelas_grid_line {vertical-align: top;text-align: left;}
.css_ratecon_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ratecon_grid_line {vertical-align: top;text-align: right;}
.css_ratenoncon_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ratenoncon_grid_line {vertical-align: top;text-align: right;}
.css_share_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_share_grid_line {vertical-align: top;text-align: right;}
.css_docsharecon_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_docsharecon_grid_line {vertical-align: top;text-align: right;}
