.css_koderetur_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_koderetur_grid_line {vertical-align: top;text-align: left;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: left;}
.css_tglretur_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglretur_grid_line {vertical-align: top;text-align: center;}
.css_kodetran_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kodetran_grid_line {vertical-align: top;text-align: left;}
.css_statusretur_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_statusretur_grid_line {vertical-align: top;text-align: left;}
.css_user_verif_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_user_verif_grid_line {vertical-align: top;text-align: left;}
.css_tglverif_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglverif_grid_line {vertical-align: top;text-align: center;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
