.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_roomname_det_label {text-align: right;vertical-align: middle;}
.css_roomname_det_line {height:0px;text-align: right;}
.css_tindakan_det_label {text-align: right;vertical-align: middle;}
.css_tindakan_det_line {height:0px;text-align: right;}
