.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_roomname_det_label {text-align: left;vertical-align: middle;}
.css_roomname_det_line {height:0px;text-align: left;}
.css_tindakan_det_label {text-align: left;vertical-align: middle;}
.css_tindakan_det_line {height:0px;text-align: left;}
