.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_custcode_label { }
.css_custcode_line { }
.css_custcode_obj { }
.css_tglmasuk_label { }
.css_tglmasuk_line { }
.css_tglmasuk_obj { }
.css_pembayaran_label { }
.css_pembayaran_line { }
.css_pembayaran_obj { }
.css_kelas_label { }
.css_kelas_line { }
.css_kelas_obj { }
.css_bed_label { }
.css_bed_line { }
.css_bed_obj { }
.css_paket_label { }
.css_paket_line { }
.css_paket_obj { }
.css_caramasuk_label { }
.css_caramasuk_line { }
.css_caramasuk_obj { }
.css_status_label { }
.css_status_line { }
.css_status_obj { }
.css_unitasal_label { }
.css_unitasal_line { }
.css_unitasal_obj { }
.css_doctor_label { }
.css_doctor_line { }
.css_doctor_obj { }
.css_struckno_label { }
.css_struckno_line {text-align:left;}
.css_struckno_obj {text-align:left;}
.css_diagnosa1_label { }
.css_diagnosa1_line { }
.css_diagnosa1_obj { }
.css_perujuk_label { }
.css_perujuk_line { }
.css_perujuk_obj { }
.css_provider_label { }
.css_provider_line { }
.css_provider_obj { }
.css_idprovider_label { }
.css_idprovider_line { }
.css_idprovider_obj { }
.css_penjamin_label { }
.css_penjamin_line { }
.css_penjamin_obj { }
.css_hubpenjamin_label { }
.css_hubpenjamin_line { }
.css_hubpenjamin_obj { }
.css_hotel_label { }
.css_hotel_line { }
.css_hotel_obj { }
.css_waitinglist_label { }
.css_waitinglist_line { }
.css_waitinglist_obj { }
.css_admision_label { }
.css_admision_line { }
.css_admision_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_detailadm_label { }
.css_detailadm_line { }
.css_detailadm_obj { }
.css_detailruang_label { }
.css_detailruang_line { }
.css_detailruang_obj { }
