.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_item__label { }
.css_item__line { }
.css_item__obj { }
.css_satuan__label { }
.css_satuan__line { }
.css_satuan__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_aturanpakai1__label { }
.css_aturanpakai1__line {text-align:left;}
.css_aturanpakai1__obj {text-align:left;}
.css_aturanpakai2__label { }
.css_aturanpakai2__line {text-align:left;}
.css_aturanpakai2__obj {text-align:left;}
.css_biaya__label { }
.css_biaya__line {text-align:right;}
.css_biaya__obj {text-align:right;}
.css_stok__label { }
.css_stok__line { }
.css_stok__obj { }
.css_hargajual__label { }
.css_hargajual__line { }
.css_hargajual__obj { }
