.css_range_umur_det_label {text-align: right;vertical-align: middle;}
.css_range_umur_det_line {height:0px;text-align: right;}
.css_jumlah_det_label {text-align: right;vertical-align: middle;}
.css_jumlah_det_line {height:0px;text-align: right;}
