.css_range_umur_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_range_umur_grid_line {vertical-align: top;text-align: left;}
.css_jumlah_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_jumlah_grid_line {vertical-align: top;text-align: right;}
