.css_kode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kode_grid_line {vertical-align: top;text-align: right;}
.css_tanggal_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tanggal_grid_line {vertical-align: top;text-align: center;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: right;}
.css_obat_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_obat_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_2_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_3_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_3_grid_line {vertical-align: top;text-align: right;}
