.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_id_karyawan_det_label {text-align: right;vertical-align: middle;}
.css_id_karyawan_det_line {height:0px;text-align: right;}
.css_id_jabatan_det_label {text-align: right;vertical-align: middle;}
.css_id_jabatan_det_line {height:0px;text-align: right;}
.css_tanggal_awal_det_label {text-align: right;vertical-align: middle;}
.css_tanggal_awal_det_line {height:0px;text-align: right;}
.css_tanggal_akhir_det_label {text-align: right;vertical-align: middle;}
.css_tanggal_akhir_det_line {height:0px;text-align: right;}
.css_keterangan_det_label {text-align: right;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: right;}
