.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_karyawan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_karyawan_grid_line {vertical-align: top;text-align: left;}
.css_id_jabatan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_jabatan_grid_line {vertical-align: top;text-align: left;}
.css_tanggal_awal_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tanggal_awal_grid_line {vertical-align: top;text-align: center;}
.css_tanggal_akhir_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tanggal_akhir_grid_line {vertical-align: top;text-align: center;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: left;}
