.css_trancode_det_label {text-align: right;vertical-align: middle;}
.css_trancode_det_line {height:0px;text-align: right;}
.css_strukresep_det_label {text-align: right;vertical-align: middle;}
.css_strukresep_det_line {height:0px;text-align: right;}
.css_trandate_det_label {text-align: right;vertical-align: middle;}
.css_trandate_det_line {height:0px;text-align: right;}
.css_nama_det_label {text-align: right;vertical-align: middle;}
.css_nama_det_line {height:0px;text-align: right;}
