.css_tgl_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tgl_grid_line {vertical-align: top;text-align: center;}
.css_jadwal_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jadwal_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: right;}
.css_diet_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diet_grid_line {vertical-align: top;text-align: right;}
.css_tl_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tl_grid_line {vertical-align: top;text-align: center;}
