.css_marginrj__label { }
.css_marginrj__line {text-align:left;}
.css_marginrj__obj {text-align:left;}
.css_margininap__label { }
.css_margininap__line {text-align:left;}
.css_margininap__obj {text-align:left;}
.css_marginfarm__label { }
.css_marginfarm__line {text-align:left;}
.css_marginfarm__obj {text-align:left;}
.css_marginkary__label { }
.css_marginkary__line {text-align:left;}
.css_marginkary__obj {text-align:left;}
.css_marginjamsos__label { }
.css_marginjamsos__line {text-align:left;}
.css_marginjamsos__obj {text-align:left;}
