.css_group_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_group_id_grid_line {vertical-align: top;text-align: right;}
.css_description_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_description_grid_line {vertical-align: top;text-align: left;}
