.css_socode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_socode_grid_line {vertical-align: top;text-align: right;}
.css_tglso_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglso_grid_line {vertical-align: top;text-align: center;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
