.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: right;}
.css_doctor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doctor_grid_line {vertical-align: top;text-align: right;}
.css_tglmasuk_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglmasuk_grid_line {vertical-align: top;text-align: center;}
.css_bed_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bed_grid_line {vertical-align: top;text-align: right;}
.css_pembayaran_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pembayaran_grid_line {vertical-align: top;text-align: right;}
.css_kelas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kelas_grid_line {vertical-align: top;text-align: right;}
.css_diagnosa1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagnosa1_grid_line {vertical-align: top;text-align: right;}
.css_caramasuk_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_caramasuk_grid_line {vertical-align: top;text-align: right;}
.css_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_1_grid_line {text-align: center;}
