.css_NM_Count_cnt_field {text-align: right}
.css_tot_sum_label {text-align: right; vertical-align: top}
.css_tot_sum_field {text-align: right; vertical-align: top}
.css_jumlah_sum_label {text-align: right; vertical-align: top}
.css_jumlah_sum_field {text-align: right; vertical-align: top}
