.css_gelar_det_label {text-align: right;vertical-align: middle;}
.css_gelar_det_line {height:0px;text-align: right;}
.css_letak_det_label {text-align: right;vertical-align: middle;}
.css_letak_det_line {height:0px;text-align: right;}
