.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_indikator_det_label {text-align: right;vertical-align: middle;}
.css_indikator_det_line {height:0px;text-align: right;}
.css_aktif_det_label {text-align: right;vertical-align: middle;}
.css_aktif_det_line {height:0px;text-align: right;}
