.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_indikator_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_indikator_grid_line {vertical-align: top;text-align: left;}
.css_aktif_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aktif_grid_line {vertical-align: top;text-align: left;}
