.css_suppcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_suppcode_grid_line {vertical-align: top;text-align: right;}
.css_alamat_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_alamat_grid_line {vertical-align: top;text-align: right;}
.css_telp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telp_grid_line {vertical-align: top;text-align: right;}
.css_cp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cp_grid_line {vertical-align: top;text-align: right;}
.css_telp_cp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telp_cp_grid_line {vertical-align: top;text-align: right;}
.css_no_rek_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_no_rek_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: right;}
