.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_karyawan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_karyawan_grid_line {vertical-align: top;text-align: right;}
.css_tunj_masa_kerja_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_masa_kerja_grid_line {vertical-align: top;text-align: right;}
.css_lembur_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_lembur_grid_line {vertical-align: top;text-align: right;}
.css_insentif_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_insentif_grid_line {vertical-align: top;text-align: right;}
.css_periode_remunerasi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_periode_remunerasi_grid_line {vertical-align: top;text-align: right;}
