.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: left;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {font-weight:bold;text-align: center;}
.css_birthdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_birthdate_grid_line {vertical-align: top;text-align: center;}
.css_address_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_address_grid_line {vertical-align: top;text-align: left;}
.css_sex_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sex_grid_line {vertical-align: top;text-align: left;}
.css_spouse_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_spouse_grid_line {vertical-align: top;text-align: left;}
.css_mother_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mother_grid_line {vertical-align: top;text-align: left;}
.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: left;}
.css_salut_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_salut_grid_line {vertical-align: top;text-align: left;}
.css_city_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_city_grid_line {vertical-align: top;text-align: left;}
.css_postcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_postcode_grid_line {vertical-align: top;text-align: left;}
