.css_jeniscode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jeniscode_grid_line {vertical-align: top;text-align: left;}
.css_namajenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namajenis_grid_line {vertical-align: top;text-align: left;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: left;}
.css_aktif_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aktif_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
