.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_id_transaksi_det_label {text-align: left;vertical-align: middle;}
.css_id_transaksi_det_line {height:0px;text-align: left;}
.css_no_referensi_det_label {text-align: left;vertical-align: middle;}
.css_no_referensi_det_line {height:0px;text-align: left;}
.css_tanggal_det_label {text-align: left;vertical-align: middle;}
.css_tanggal_det_line {height:0px;text-align: left;}
.css_keterangan_det_label {text-align: left;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: left;}
.css_nilai_transaksi_det_label {text-align: left;vertical-align: middle;}
.css_nilai_transaksi_det_line {height:0px;text-align: left;}
