.css_a_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_trancode_grid_line {vertical-align: top;text-align: right;}
.css_a_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_custcode_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_tl_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tl_grid_line {vertical-align: top;text-align: center;}
.css_usia_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_usia_grid_line {text-align: right;}
.css_a_kelas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_kelas_grid_line {vertical-align: top;text-align: right;}
.css_bed_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bed_grid_line {vertical-align: top;text-align: right;}
.css_a_tglmasuk_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_a_tglmasuk_grid_line {vertical-align: top;text-align: center;}
.css_b_tglkeluar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_b_tglkeluar_grid_line {vertical-align: top;text-align: center;}
