.css_doccode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doccode_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {font-weight:bold;text-align: right;}
.css_city_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_city_grid_line {vertical-align: top;text-align: right;}
.css_hp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_hp_grid_line {vertical-align: top;text-align: right;}
.css_birthdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_birthdate_grid_line {vertical-align: top;text-align: center;}
.css_joindate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_joindate_grid_line {vertical-align: top;text-align: center;}
.css_address_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_address_grid_line {vertical-align: top;text-align: right;}
.css_type_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_type_grid_line {vertical-align: top;text-align: right;}
.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: right;}
.css_gelar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gelar_grid_line {vertical-align: top;text-align: right;}
.css_spec_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_spec_grid_line {vertical-align: top;text-align: right;}
