.css_item_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_item_grid_line {vertical-align: top;text-align: left;}
.css_satuan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_satuan_grid_line {vertical-align: top;text-align: left;}
.css_perencanaan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_perencanaan_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
.css_selisih_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_selisih_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_1_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_tgl_terima_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tgl_terima_grid_line {vertical-align: top;text-align: center;}
