.css_gelar_det_label {text-align: left;vertical-align: middle;}
.css_gelar_det_line {height:0px;text-align: left;}
.css_letak_det_label {text-align: left;vertical-align: middle;}
.css_letak_det_line {height:0px;text-align: left;}
