.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: left;}
.css_labcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_labcode_grid_line {vertical-align: top;text-align: left;}
.css_kategori_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kategori_grid_line {vertical-align: top;text-align: left;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: left;}
.css_subname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_subname_grid_line {vertical-align: top;text-align: left;}
.css_hasil_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_hasil_grid_line {vertical-align: top;text-align: left;}
