.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_pph_21_det_label {text-align: left;vertical-align: middle;}
.css_pph_21_det_line {height:0px;text-align: left;}
.css_bpjs_tenaga_kerja_det_label {text-align: left;vertical-align: middle;}
.css_bpjs_tenaga_kerja_det_line {height:0px;text-align: left;}
.css_periode_remunerasi_det_label {text-align: left;vertical-align: middle;}
.css_periode_remunerasi_det_line {height:0px;text-align: left;}
.css_id_karyawan_det_label {text-align: left;vertical-align: middle;}
.css_id_karyawan_det_line {height:0px;text-align: left;}
