.css_instcode_label { }
.css_instcode_line { }
.css_instcode_obj { }
.css_init_label { }
.css_init_line { }
.css_init_obj { }
.css_name_label { }
.css_name_line { }
.css_name_obj { }
.css_address_label { }
.css_address_line { }
.css_address_obj { }
.css_city_label { }
.css_city_line { }
.css_city_obj { }
.css_phone_label { }
.css_phone_line { }
.css_phone_obj { }
.css_fax_label { }
.css_fax_line { }
.css_fax_obj { }
.css_cp_label { }
.css_cp_line { }
.css_cp_obj { }
.css_limit_label { }
.css_limit_line {text-align:left;}
.css_limit_obj {text-align:left;}
.css_discount_label { }
.css_discount_line {text-align:left;}
.css_discount_obj {text-align:left;}
.css_joindate_label { }
.css_joindate_line { }
.css_joindate_obj { }
.css_expdate_label { }
.css_expdate_line { }
.css_expdate_obj { }
.css_policy_label { }
.css_policy_line { }
.css_policy_obj { }
.css_tempo_label { }
.css_tempo_line {text-align:left;}
.css_tempo_obj {text-align:left;}
.css_marginobat_label { }
.css_marginobat_line {text-align:left;}
.css_marginobat_obj {text-align:left;}
.css_markuptindakan_label { }
.css_markuptindakan_line {text-align:left;}
.css_markuptindakan_obj {text-align:left;}
.css_markupobat_label { }
.css_markupobat_line {text-align:left;}
.css_markupobat_obj {text-align:left;}
.css_markuplab_label { }
.css_markuplab_line {text-align:left;}
.css_markuplab_obj {text-align:left;}
.css_markuprad_label { }
.css_markuprad_line {text-align:left;}
.css_markuprad_obj {text-align:left;}
.css_admpolitype_label { }
.css_admpolitype_line {text-align:left;}
.css_admpolitype_obj {text-align:left;}
.css_adminaptype_label { }
.css_adminaptype_line {text-align:left;}
.css_adminaptype_obj {text-align:left;}
.css_admpolibaru_label { }
.css_admpolibaru_line {text-align:left;}
.css_admpolibaru_obj {text-align:left;}
.css_admpolilama_label { }
.css_admpolilama_line {text-align:left;}
.css_admpolilama_obj {text-align:left;}
.css_adminap_label { }
.css_adminap_line {text-align:left;}
.css_adminap_obj {text-align:left;}
.css_lastupdated_label { }
.css_lastupdated_line { }
.css_lastupdated_obj { }
.css_marginpma_label { }
.css_marginpma_line {text-align:left;}
.css_marginpma_obj {text-align:left;}
.css_withpma_label { }
.css_withpma_line {text-align:left;}
.css_withpma_obj {text-align:left;}
