.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_kodeitem__label { }
.css_kodeitem__line { }
.css_kodeitem__obj { }
.css_expdate__label { }
.css_expdate__line { }
.css_expdate__obj { }
.css_currentstock__label { }
.css_currentstock__line {text-align:left;}
.css_currentstock__obj {text-align:left;}
.css_depo__label { }
.css_depo__line { }
.css_depo__obj { }
.css_batchno__label { }
.css_batchno__line { }
.css_batchno__obj { }
.css_satuan__label { }
.css_satuan__line { }
.css_satuan__obj { }
