.css_kelas__label { }
.css_kelas__line { }
.css_kelas__obj { }
.css_ratecon__label { }
.css_ratecon__line {text-align:left;}
.css_ratecon__obj {text-align:left;}
.css_ratenoncon__label { }
.css_ratenoncon__line {text-align:left;}
.css_ratenoncon__obj {text-align:left;}
.css_share__label { }
.css_share__line {text-align:left;}
.css_share__obj {text-align:left;}
