.css_trandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_trandate_grid_line {vertical-align: top;text-align: center;}
.css_doctor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doctor_grid_line {vertical-align: top;text-align: right;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_bayar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bayar_grid_line {vertical-align: top;text-align: right;}
.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_kategori_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kategori_grid_line {vertical-align: top;text-align: right;}
