.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_set_tindakan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_set_tindakan_grid_line {vertical-align: top;text-align: right;}
.css_poli_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_poli_grid_line {vertical-align: top;text-align: right;}
.css_aktif_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aktif_grid_line {vertical-align: top;text-align: right;}
.css_kode_tind_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kode_tind_grid_line {vertical-align: top;text-align: right;}
