.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_kodeitem_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kodeitem_grid_line {vertical-align: top;text-align: right;}
.css_konversisatuan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_konversisatuan_grid_line {vertical-align: top;text-align: right;}
.css_nilaikonversi_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nilaikonversi_grid_line {vertical-align: top;text-align: right;}
.css_satuandefault_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_satuandefault_grid_line {vertical-align: top;text-align: right;}
