.css_deskripsi_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_deskripsi_grid_line {vertical-align: top;text-align: right;}
.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
