.css_id_karyawan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_karyawan_grid_line {vertical-align: top;text-align: right;}
.css_gaji_pokok_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_gaji_pokok_grid_line {vertical-align: top;text-align: right;}
.css_tunj_struktural_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_struktural_grid_line {vertical-align: top;text-align: right;}
.css_tunj_fungsional_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_fungsional_grid_line {vertical-align: top;text-align: right;}
.css_tunj_keluarga_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_keluarga_grid_line {vertical-align: top;text-align: right;}
.css_tunj_transport_makan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_transport_makan_grid_line {vertical-align: top;text-align: right;}
.css_tunj_bpjs_kesehatan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_bpjs_kesehatan_grid_line {vertical-align: top;text-align: right;}
.css_tunj_masa_kerja_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_masa_kerja_grid_line {vertical-align: top;text-align: right;}
.css_lembur_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_lembur_grid_line {vertical-align: top;text-align: right;}
.css_insentif_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_insentif_grid_line {vertical-align: top;text-align: right;}
.css_pph_21_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pph_21_grid_line {vertical-align: top;text-align: right;}
.css_bpjs_tenaga_kerja_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bpjs_tenaga_kerja_grid_line {vertical-align: top;text-align: right;}
.css_kasbon_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_kasbon_grid_line {vertical-align: top;text-align: right;}
.css_terlambat_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_terlambat_grid_line {vertical-align: top;text-align: right;}
.css_alfa_izin_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_alfa_izin_grid_line {vertical-align: top;text-align: right;}
.css_parkir_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_parkir_grid_line {vertical-align: top;text-align: right;}
.css_periode_remunerasi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_periode_remunerasi_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
