.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_gaji_pokok_det_label {text-align: left;vertical-align: middle;}
.css_gaji_pokok_det_line {height:0px;text-align: left;}
.css_tunj_struktural_det_label {text-align: left;vertical-align: middle;}
.css_tunj_struktural_det_line {height:0px;text-align: left;}
.css_tunj_fungsional_det_label {text-align: left;vertical-align: middle;}
.css_tunj_fungsional_det_line {height:0px;text-align: left;}
.css_tunj_keluarga_det_label {text-align: left;vertical-align: middle;}
.css_tunj_keluarga_det_line {height:0px;text-align: left;}
.css_tunj_transport_makan_det_label {text-align: left;vertical-align: middle;}
.css_tunj_transport_makan_det_line {height:0px;text-align: left;}
.css_tunj_bpjs_kesehatan_det_label {text-align: left;vertical-align: middle;}
.css_tunj_bpjs_kesehatan_det_line {height:0px;text-align: left;}
.css_tunj_masa_kerja_det_label {text-align: left;vertical-align: middle;}
.css_tunj_masa_kerja_det_line {height:0px;text-align: left;}
.css_lembur_det_label {text-align: left;vertical-align: middle;}
.css_lembur_det_line {height:0px;text-align: left;}
.css_insentif_det_label {text-align: left;vertical-align: middle;}
.css_insentif_det_line {height:0px;text-align: left;}
.css_pph_21_det_label {text-align: left;vertical-align: middle;}
.css_pph_21_det_line {height:0px;text-align: left;}
.css_bpjs_tenaga_kerja_det_label {text-align: left;vertical-align: middle;}
.css_bpjs_tenaga_kerja_det_line {height:0px;text-align: left;}
.css_kasbon_det_label {text-align: left;vertical-align: middle;}
.css_kasbon_det_line {height:0px;text-align: left;}
.css_terlambat_det_label {text-align: left;vertical-align: middle;}
.css_terlambat_det_line {height:0px;text-align: left;}
.css_alfa_izin_det_label {text-align: left;vertical-align: middle;}
.css_alfa_izin_det_line {height:0px;text-align: left;}
.css_parkir_det_label {text-align: left;vertical-align: middle;}
.css_parkir_det_line {height:0px;text-align: left;}
.css_periode_remunerasi_det_label {text-align: left;vertical-align: middle;}
.css_periode_remunerasi_det_line {height:0px;text-align: left;}
.css_id_karyawan_det_label {text-align: left;vertical-align: middle;}
.css_id_karyawan_det_line {height:0px;text-align: left;}
