.css_tgl_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_tgl_grid_line {text-align: center;}
.css_supplier_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_supplier_grid_line {text-align: left;}
.css_jmlterima_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_jmlterima_grid_line {vertical-align: top;text-align: right;}
.css_isi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_isi_grid_line {vertical-align: top;text-align: right;}
.css_total_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_total_grid_line {text-align: left;}
.css_hargaterima_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_hargaterima_grid_line {vertical-align: top;text-align: right;}
.css_disc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_disc_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_2_grid_line {text-align: right;}
.css_batchno_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_batchno_grid_line {vertical-align: top;text-align: left;}
.css_expdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_expdate_grid_line {vertical-align: top;text-align: center;}
.css_principal_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_principal_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: right;}
.css_sc_field_1_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_1_grid_line {text-align: center;}
.css_item_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_item_grid_line {vertical-align: top;text-align: left;}
