.css_id_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: left;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: left;}
.css_grupid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_grupid_grid_line {vertical-align: top;text-align: right;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: left;}
.css_modal_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_modal_grid_line {vertical-align: top;text-align: left;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: left;}
