.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_kodetindakan_det_label {text-align: left;vertical-align: middle;}
.css_kodetindakan_det_line {height:0px;text-align: left;}
.css_isumum_det_label {text-align: left;vertical-align: middle;}
.css_isumum_det_line {height:0px;text-align: left;}
.css_isspesialis_det_label {text-align: left;vertical-align: middle;}
.css_isspesialis_det_line {height:0px;text-align: left;}
.css_tarifumum_det_label {text-align: left;vertical-align: middle;}
.css_tarifumum_det_line {height:0px;text-align: left;}
.css_tarifspesialis_det_label {text-align: left;vertical-align: middle;}
.css_tarifspesialis_det_line {height:0px;text-align: left;}
