.css_kode_karyawan_label { }
.css_kode_karyawan_line { }
.css_kode_karyawan_obj { }
.css_nama_label { }
.css_nama_line { }
.css_nama_obj { }
.css_ponsel_label { }
.css_ponsel_line { }
.css_ponsel_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_nik_label { }
.css_nik_line { }
.css_nik_obj { }
.css_npwp_label { }
.css_npwp_line { }
.css_npwp_obj { }
.css_alamat_label { }
.css_alamat_line { }
.css_alamat_obj { }
.css_aktif_label { }
.css_aktif_line { }
.css_aktif_obj { }
.css_foto_label { }
.css_foto_line { }
.css_foto_obj { }
.css_tenaga_medis_label { }
.css_tenaga_medis_line {text-align:left;}
.css_tenaga_medis_obj {text-align:left;}
.css_id_presensi_label { }
.css_id_presensi_line {text-align:left;}
.css_id_presensi_obj {text-align:left;}
.css_pendidikan_label { }
.css_pendidikan_line { }
.css_pendidikan_obj { }
.css_jabatan_label { }
.css_jabatan_line { }
.css_jabatan_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_sc_field_1_label { }
.css_sc_field_1_line { }
.css_sc_field_1_obj { }
.css_peringatan_label { }
.css_peringatan_line { }
.css_peringatan_obj { }
.css_penilaian_label { }
.css_penilaian_line { }
.css_penilaian_obj { }
.css_pembinaan_label { }
.css_pembinaan_line { }
.css_pembinaan_obj { }
.css_sc_field_2_label { }
.css_sc_field_2_line { }
.css_sc_field_2_obj { }
.css_penugasan_label { }
.css_penugasan_line { }
.css_penugasan_obj { }
.css_penghargaan_label { }
.css_penghargaan_line { }
.css_penghargaan_obj { }
