.css_kategori_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kategori_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_2_grid_line {vertical-align: top;text-align: right;}
.css_hasil_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_hasil_grid_line {vertical-align: top;text-align: right;}
.css_tandai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tandai_grid_line {vertical-align: top;text-align: right;}
.css_satuan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_satuan_grid_line {vertical-align: top;text-align: right;}
.css_tgl_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tgl_grid_line {vertical-align: top;text-align: center;}
.css_struklab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_struklab_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
