.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_tunj_masa_kerja_label { }
.css_tunj_masa_kerja_line {text-align:left;}
.css_tunj_masa_kerja_obj {text-align:left;}
.css_lembur_label { }
.css_lembur_line {text-align:left;}
.css_lembur_obj {text-align:left;}
.css_insentif_label { }
.css_insentif_line {text-align:left;}
.css_insentif_obj {text-align:left;}
.css_periode_remunerasi_label { }
.css_periode_remunerasi_line {text-align:left;}
.css_periode_remunerasi_obj {text-align:left;}
.css_id_karyawan_label { }
.css_id_karyawan_line {text-align:left;}
.css_id_karyawan_obj {text-align:left;}
