.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_2_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_sc_field_3_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_3_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_4_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_4_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_5_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_sc_field_5_grid_line {vertical-align: top;text-align: center;}
.css_los_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_los_grid_line {vertical-align: top;text-align: right;}
.css_inacbg_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_inacbg_grid_line {text-align: center;}
.css_sc_field_7_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_7_grid_line {text-align: right;}
.css_sc_field_6_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_6_grid_line {text-align: right;}
.css_selisih_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_selisih_grid_line {text-align: right;}
