.css_a_npocode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_npocode_grid_line {vertical-align: top;text-align: left;}
.css_a_alasan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_alasan_grid_line {vertical-align: top;text-align: left;}
.css_a_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_jenis_grid_line {vertical-align: top;text-align: left;}
.css_b_item_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_item_grid_line {vertical-align: top;text-align: left;}
.css_b_jml_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_b_jml_grid_line {vertical-align: top;text-align: right;}
