.css_a_npocode_det_label {text-align: left;vertical-align: middle;}
.css_a_npocode_det_line {height:0px;text-align: left;}
.css_a_alasan_det_label {text-align: left;vertical-align: middle;}
.css_a_alasan_det_line {height:0px;text-align: left;}
.css_a_jenis_det_label {text-align: left;vertical-align: middle;}
.css_a_jenis_det_line {height:0px;text-align: left;}
.css_b_item_det_label {text-align: left;vertical-align: middle;}
.css_b_item_det_line {height:0px;text-align: left;}
.css_b_jml_det_label {text-align: left;vertical-align: middle;}
.css_b_jml_det_line {height:0px;text-align: left;}
