.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {font-weight:bold;text-align: right;}
.css_dokter_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dokter_grid_line {vertical-align: top;text-align: right;}
.css_ruanginap_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ruanginap_grid_line {text-align: center;}
.css_selesai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selesai_grid_line {vertical-align: top;text-align: right;}
.css_tglkeluar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglkeluar_grid_line {vertical-align: top;text-align: center;}
.css_carakeluar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_carakeluar_grid_line {vertical-align: top;text-align: right;}
.css_jenis_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_jenis_grid_line {text-align: right;}
