.css_kategori_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kategori_grid_line {font-weight:bold;vertical-align: top;text-align: center;}
.css_sc_field_1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_2_grid_line {vertical-align: top;text-align: right;}
.css_hasil_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_hasil_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_tandai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tandai_grid_line {vertical-align: top;text-align: right;}
.css_satuan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_satuan_grid_line {vertical-align: top;text-align: right;}
