.css_idbed__label { }
.css_idbed__line {text-align:left;}
.css_idbed__obj {text-align:left;}
.css_nobed__label { }
.css_nobed__line {text-align:left;}
.css_nobed__obj {text-align:left;}
.css_ruang__label { }
.css_ruang__line { }
.css_ruang__obj { }
.css_kelas__label { }
.css_kelas__line { }
.css_kelas__obj { }
.css_custcode__label { }
.css_custcode__line { }
.css_custcode__obj { }
.css_aktif__label { }
.css_aktif__line {text-align:left;}
.css_aktif__obj {text-align:left;}
