.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_jabatan__label { }
.css_id_jabatan__line {text-align:left;}
.css_id_jabatan__obj {text-align:left;}
.css_tanggal_awal__label { }
.css_tanggal_awal__line { }
.css_tanggal_awal__obj { }
.css_tanggal_akhir__label { }
.css_tanggal_akhir__line { }
.css_tanggal_akhir__obj { }
.css_keterangan__label { }
.css_keterangan__line { }
.css_keterangan__obj { }
.css_sc_field_0__label { }
.css_sc_field_0__line { }
.css_sc_field_0__obj { }
