.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_trancode__label { }
.css_trancode__line { }
.css_trancode__obj { }
.css_trandate__label { }
.css_trandate__line { }
.css_trandate__obj { }
.css_check_in__label { }
.css_check_in__line { }
.css_check_in__obj { }
.css_check_out__label { }
.css_check_out__line { }
.css_check_out__obj { }
.css_bed__label { }
.css_bed__line { }
.css_bed__obj { }
.css_rate__label { }
.css_rate__line {text-align:left;}
.css_rate__obj {text-align:left;}
.css_keperawatan__label { }
.css_keperawatan__line {text-align:left;}
.css_keperawatan__obj {text-align:left;}
.css_disc__label { }
.css_disc__line {text-align:left;}
.css_disc__obj {text-align:left;}
.css_lama__label { }
.css_lama__line { }
.css_lama__obj { }
.css_sc_field_0__label { }
.css_sc_field_0__line { }
.css_sc_field_0__obj { }
