.css_kodereq_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kodereq_grid_line {vertical-align: top;text-align: left;}
.css_unit_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unit_grid_line {font-weight:bold;vertical-align: top;text-align: left;}
.css_tglreq_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglreq_grid_line {vertical-align: top;text-align: center;}
.css_selesai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selesai_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
