.css_kodetindakan__label { }
.css_kodetindakan__line { }
.css_kodetindakan__obj { }
.css_tarif__label { }
.css_tarif__line {text-align:right;}
.css_tarif__obj {text-align:right;}
.css_sharedoc__label { }
.css_sharedoc__line {text-align:left;}
.css_sharedoc__obj {text-align:left;}
