.css_itemcode__label { }
.css_itemcode__line { }
.css_itemcode__obj { }
.css_satuan__label { }
.css_satuan__line { }
.css_satuan__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_biaya__label { }
.css_biaya__line {text-align:left;}
.css_biaya__obj {text-align:left;}
