.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_indikator__label { }
.css_id_indikator__line {text-align:left;}
.css_id_indikator__obj {text-align:left;}
.css_skor__label { }
.css_skor__line {text-align:left;}
.css_skor__obj {text-align:left;}
.css_tgl_penilaian__label { }
.css_tgl_penilaian__line { }
.css_tgl_penilaian__obj { }
