.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_itemcode__label { }
.css_itemcode__line { }
.css_itemcode__obj { }
.css_sediaan__label { }
.css_sediaan__line { }
.css_sediaan__obj { }
.css_rate__label { }
.css_rate__line {text-align:left;}
.css_rate__obj {text-align:left;}
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_disc__label { }
.css_disc__line {text-align:left;}
.css_disc__obj {text-align:left;}
.css_stok__label { }
.css_stok__line { }
.css_stok__obj { }
