.css_idtarifinap__label { }
.css_idtarifinap__line {text-align:left;}
.css_idtarifinap__obj {text-align:left;}
.css_namakelas__label { }
.css_namakelas__line { }
.css_namakelas__obj { }
.css_tarifkamar__label { }
.css_tarifkamar__line {text-align:left;}
.css_tarifkamar__obj {text-align:left;}
.css_tarifkeperawatan__label { }
.css_tarifkeperawatan__line {text-align:left;}
.css_tarifkeperawatan__obj {text-align:left;}
.css_citosiang__label { }
.css_citosiang__line {text-align:left;}
.css_citosiang__obj {text-align:left;}
.css_citomalam__label { }
.css_citomalam__line {text-align:left;}
.css_citomalam__obj {text-align:left;}
.css_citominggu__label { }
.css_citominggu__line {text-align:left;}
.css_citominggu__obj {text-align:left;}
