.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_presensi_label { }
.css_id_presensi_line {text-align:left;}
.css_id_presensi_obj {text-align:left;}
.css_user_name_label { }
.css_user_name_line { }
.css_user_name_obj { }
.css_privilege_label { }
.css_privilege_line {text-align:left;}
.css_privilege_obj {text-align:left;}
.css_id_mesin_label { }
.css_id_mesin_line {text-align:left;}
.css_id_mesin_obj {text-align:left;}
