.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_nama_det_label {text-align: right;vertical-align: middle;}
.css_nama_det_line {height:0px;text-align: right;}
.css_headerid_det_label {text-align: right;vertical-align: middle;}
.css_headerid_det_line {height:0px;text-align: right;}
.css_tipe_det_label {text-align: right;vertical-align: middle;}
.css_tipe_det_line {height:0px;text-align: right;}
.css_user_det_label {text-align: right;vertical-align: middle;}
.css_user_det_line {height:0px;text-align: right;}
.css_jam_det_label {text-align: right;vertical-align: middle;}
.css_jam_det_line {height:0px;text-align: right;}
