.css_id_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: right;}
.css_headerid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_headerid_grid_line {vertical-align: top;text-align: right;}
.css_tipe_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipe_grid_line {vertical-align: top;text-align: right;}
.css_user_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_user_grid_line {vertical-align: top;text-align: right;}
.css_jam_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_jam_grid_line {vertical-align: top;text-align: center;}
