.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_trancode__label { }
.css_trancode__line { }
.css_trancode__obj { }
.css_item__label { }
.css_item__line { }
.css_item__obj { }
.css_satuan__label { }
.css_satuan__line { }
.css_satuan__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_signa__label { }
.css_signa__line { }
.css_signa__obj { }
.css_jenisaturanpakai__label { }
.css_jenisaturanpakai__line { }
.css_jenisaturanpakai__obj { }
.css_biaya__label { }
.css_biaya__line {text-align:left;}
.css_biaya__obj {text-align:left;}
.css_strukresep__label { }
.css_strukresep__line { }
.css_strukresep__obj { }
.css_diskon__label { }
.css_diskon__line {text-align:left;}
.css_diskon__obj {text-align:left;}
.css_retur__label { }
.css_retur__line {text-align:left;}
.css_retur__obj {text-align:left;}
.css_etiket__label { }
.css_etiket__line { }
.css_etiket__obj { }
