.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_bahan__label { }
.css_bahan__line { }
.css_bahan__obj { }
.css_satuan__label { }
.css_satuan__line { }
.css_satuan__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
