ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#878b8e;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:80%;background-color:#f6f5f6;border-width:9px;{theme_sub_radius_menu5}border-style:solid;border-color:#307cb2;padding:0 9px 9px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:-6px;border-radius:11px;-moz-border-radius:11px;-webkit-border-radius:11px;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:5px 5px 5px 0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:Arial,Helvetica;font-size:14px;font-weight:bold;font-style:none;color:#ffffff;cursor:pointer;padding:12px 15px 12px 15px;background-color:#878b8e;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:9px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:1px 3px;background-color:#f6f5f6;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Arial,Helvetica;font-size:11px;font-weight:normal;font-style:none;color:#2c75a3;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#878b8e;border-style:none;color:#baddf6;text-decoration:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url('../../img/theme_menu_arrowsub_5.png');padding-right:9px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#f6f5f6;color:#2c75a3;text-decoration:underline;}
ul#css3menu1 li.topmenu>a{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 li.toproot>a{
	background-color:;border-radius:9px 9px 0 0;-moz-border-radius:9px 9px 0 0;-webkit-border-radius:9px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu1 li.toproot:hover>a,ul#css3menu1 li.toproot a.pressed{
	background-color:#307cb2;}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#666666 !important;
}
.scdisabledsub{
 color:#aaaacc !important;
}
.scMenuHTableCssAlt{
 background-color:#878b8e;background-repeat:repeat;
}	
