ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;padding:0;background-color:#0d0d0d;{theme_sub_radius_menu5}}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;opacity:1;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;}
ul#css3menu1 ul ul{
	opacity:1;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:5px 5px 5px 0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:Calibri,"Trebuchet MS",Georgia,Times,sans-serif;font-size:18px;font-weight:normal;font-style:none;color:#b3b3b3;text-shadow:1px 1px 1px #000000;cursor:pointer;padding:9px 15px 14px 15px;background-color:transparent;background-repeat:no-repeat;background-position:0 50%;border-width:1px 1px 0 1px;border-style:solid;border-color:transparent;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;padding:9px 10px 9px 32px;background-color:#0d0d0d;background-image:url('../../img/theme_menu_arrowsub_9.png');border-width:0 0 1px 0;border-style:solid;border-color:#2a2a2a;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:normal;font-style:none;color:#ffffff;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#0d0d0d;border-color:#0d0d0d;border-style:solid;color:#b3b3b3;text-shadow:1px 1px 1px #000000text-decoration:none;}
ul#css3menu1 ul span{
	background-image:none;padding-right:9px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#000000;background-image:url('../../img/theme_menu_arrowsub_9.png');border-style:solid;border-color:#2a2a2a;color:#ffffff;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;}
ul#css3menu1 li.toproot>a{
	{theme_sub_radius_menu3}opacity:0.9;}
ul#css3menu1 li.subfirst>a{
	{theme_sub_radius_menu3}}
ul#css3menu1 li.sublast>a{
	border-width:0;}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#f8f8f8 !important;
}
.scdisabledsub{
 color:#444444 !important;
}
.scMenuHTableCssAlt{
 background-color:#EBEBEB;background-repeat:repeat;
}
