.menu {


border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
border-style: solid;




}
.menu .menu--horizontal {

background-color:#EFFEFF;
background-repeat:repeat;




}
.menu .menu--nav,.menu .menu--vertical {




}

#idMenuVertical
{



}

.menu__toggle span {
background-color:#0000CC;
}
.menu__list
{




}

.menu__item, .menu__link {
text-decoration:none;
color:#0000CC;
font-family:Verdana, Lucida Console, Arial, sans-serif;
font-size:12px;
font-weight:bold;
font-style:none;
text-decoration:underline;
}

.menu__list > .menu__item {
background-color:#D0E4FD;


border-style:solid;
border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;


}

.menu--horizontal .menu__list > .menu__item:first-child {
    {theme_main_borderwidth_item_first}
}
.menu--horizontal .menu__list > .menu__item:last-child {
    {theme_main_borderwidth_item_last}
}

.menu--vertical .menu__list > .menu__item {
  {theme_main_borderwidth_item_vertical}
}
.menu--vertical .menu__list > .menu__item:first-child {
}
.menu--vertical .menu__list > .menu__item:last-child {
}

.menu__list > .menu__item:hover {
background-color:#3366FF;
}
.menu__list > .menu__item:hover > .menu__link{
color:#FFFF00;
}
.menu__list > .menu__item:active {

}
.menu__list > .menu__item:active > .menu__link {

}
.menu__list > .menu__link:before {

}
.menu__link:after {
    border-top: 4px solid #0000CC;
    border-left: 4px solid #0000CC;
}
.menu__icon {

}
.menu__badge {

{theme_main_color_badge}
}
.menu__submenu {

background-color:#666666 !important;





border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;
border-style: solid;

opacity:100;

text-align:right;
}

.menu__submenu .menu__item {
font-family:Verdana, Lucida Console, Arial, sans-serif;
font-size:12px;
font-weight:bold;
font-style:none;

text-decoration:none;



border-style:solid;

border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;
background-color:#EFFEFF;


}

.menu__submenu .menu__item:first-child {
{theme_sub_borderwidth_item_first}
}
.menu__submenu .menu__item:last-child {
{theme_sub_borderwidth_item_last}
}

.menu__submenu .menu__item {
color:#3399FF;
}

.menu__submenu .menu__item:hover {
background-color:#3366FF;
}
.menu__submenu .menu__item:hover .menu__link {
color:#FFFF00;
}
.menu__submenu .menu__item:active {

}
.menu__submenu .menu__item:active .menu__link {

}
@media only screen and (max-width: 576px) {
  .menu {
    font-family:Verdana, Lucida Console, Arial, sans-serif;
    font-size:12px;
      border-bottom: 1px solid transparent;
      padding: 0;
    }
    .menu:before {
    background-color:#EFFEFF;
    
    }
    .menu:after {
      background-color:    rgba(0, 0, 0, 0.5);
    }
    .menu .menu__container {
    background-color:#EFFEFF;
    }
    .menu .menu__item,
    .menu .menu__item:hover {
    border-bottom: 1px solid 
    }
    .menu .menu__item--active,
    .menu .menu__item:hover--active {
    background-color:#3366FF;
    }
    .menu .menu__item--active > .menu__link,
    .menu .menu__item:hover--active > .menu__link {
    color:#FFFF00;
    }
    .menu .menu__link,
    .menu .menu__item:hover .menu__link {
    color:#0000CC;
    }
    .menu .menu__submenu .menu__item:hover {
    : transparent;
      border-bottom: 0;
    }
    .menu .menu__submenu .menu__link:before {
    color:#0000CC;
    }
    .menu .menu__item--withsubmenu > .menu__link:after {
    border-left: 4px solid 
    }
    .menu__list > .menu__item {
        {theme_main_borderwidth_item_vertical}
    }
    #idMenuHeader
    {
      display:none;
    }
    #idMenuVertical
    {
      box-shadow:none;
      margin:0px;
    }
}