ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#dedede;border-width:1px;border-style:solid;border-color:#5f5f5f;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;}
ul#css3menu1 ul{
	display:none;position:absolute;right:100%;top:0;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;background-color:#666666;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;border-width:1px;border-color:#FFF;padding:0 10px 10px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;right:100%;top:0;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{ 
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font-weight:bold;font-style:none;font-size:16px;font-family:Arial, sans-serif;color:#333333;text-shadow:#FFF 0 0 1px;cursor:pointer;padding:10px;background-color:#7F8289;background-image:url('../../img/theme_menu_mainbk_1.png');background-repeat:repeat;background-position:0 0;border-width:0 0 0 1px;border-style:solid;border-color:#C0C0C0;}
ul#css3menu1 ul li{
	float:none;margin:10px 0 0;}
ul#css3menu1 ul a{
	text-align:right;padding:4px;background-color:#666666;background-image:none;border-width:0;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;font-weight:bold;font-style:none;font-size:13px;font-family:Tahoma;color:#FFFFFF;text-decoration:none;text-shadow:#FFF 0 0 0;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#CCCCCC;;border-color:#C0C0C0;border-style:solid;font-weight:bold;font-style:none;font-size:16px;font-family:Arial, sans-serif;color:#666666;text-decoration:none;text-shadow:#FFF 0 0 0;background-image:url('../../img/theme_menu_mainbk_1.png');background-position:0 100px;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:left center;background-repeat:no-repeat;padding-left:0px;}
ul#css3menu1 ul span{
	background-image:url('../../img/theme_menu_arrowsub_1.png');padding-left:12px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#00FF99;background-image:none;font-weight:bold;font-style:none;font-size:13px;font-family:Tahoma;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	{theme_main_radius_item3}}
ul#css3menu1 li.toplast>a{
	{theme_main_radius_item4}}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#FFFFFF !important;
}
.scdisabledsub{
 color:#808080 !important;
}
.scMenuHTableCssAlt{
 background-image:url("/scriptcase/devel/conf/scriptcase/img/menu_img/theme_menu_mainbk_1.png");background-color:#666666;background-repeat:repeat-x;
}