ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#FF6600;border-width:1px;border-style:solid;border-color:#f7f7f7 #eaeaea #d2d2d2 #eaeaea;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
ul#css3menu1 ul{
	display:none;position:absolute;right:0;top:97%;-moz-box-shadow:4.9px 4.9px 3px #333;-webkit-box-shadow:4.9px 4.9px 3px #333;box-shadow:4.9px 4.9px 3px #333;background-color:#FF6600;border-width:0;padding:6px 0;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:right;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;right:100%;top:-1px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;-moz-box-shadow:4.9px 4.9px 7px #333;-webkit-box-shadow:4.9px 4.9px 7px #333;box-shadow:4.9px 4.9px 7px #333;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0 6px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font-family:Tahoma, Arial, sans-serif;font-size:20px;font-weight:bold;font-style:none;color:#000000;cursor:pointer;padding:16px;background-color:#FF6600;background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03)); background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));   background-image:linear-gradient(180deg,rgba(255,255,255,0),rgba(0,0,0,0.03));  background-image:-webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));background-repeat:repeat;background-position:0 0;border-width:0;border-style:solid;border-color:#C0C0C0;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#00FFFFFF,endColorstr=#08000000)}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:center;padding:4px;background-color:#FF6600;background-image:none;border-width:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Avenir 85 Heavy,Arial,Helvetica;font-size:20px;font-weight:bold;font-style:none;color:#ffffff;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#0079d9;border-color:#C0C0C0;border-style:solid;color:#FF0000;background-image:-o-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0)); background-image:-moz-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0));   background-image:linear-gradient(180deg,rgba(109,183,255,1),rgba(0,121,217,0));  background-image:-webkit-linear-gradient(-90deg,rgba(109,183,255,1),rgba(0,121,217,0));background-position:0 100%;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF6DB7FF,endColorstr=#000079D9)}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:left center;background-repeat:no-repeat;padding-left:0px;}
ul#css3menu1 ul span{
	background-image:url('../../img/theme_menu_arrowsub_6.png');padding-left:12px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#ffffff;background-image:none;color:#FF9900;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#00CCFF !important;
}
.scdisabledsub{
 color:#444444 !important;
}
.scMenuHTableCssAlt{
 
}
