.menu {



border-style: solid;




}
.menu .menu--horizontal {







}
.menu .menu--nav,.menu .menu--vertical {




}

#idMenuVertical
{



}

.menu__toggle span {
background-color:#406080;
}
.menu__list
{




}

.menu__item, .menu__link {

color:#406080;
font-family:Tahoma, Arial, sans-serif;
font-size:12px;



}

.menu__list > .menu__item {
background-color:#E9D3FF;


border-style:solid;



}

.menu--horizontal .menu__list > .menu__item:first-child {
    {theme_main_borderwidth_item_first}
}
.menu--horizontal .menu__list > .menu__item:last-child {
    {theme_main_borderwidth_item_last}
}

.menu--vertical .menu__list > .menu__item {
  {theme_main_borderwidth_item_vertical}
}
.menu--vertical .menu__list > .menu__item:first-child {
}
.menu--vertical .menu__list > .menu__item:last-child {
}

.menu__list > .menu__item:hover {
background-color:#E9D3FF;
}
.menu__list > .menu__item:hover > .menu__link{
color:#406080;
}
.menu__list > .menu__item:active {

}
.menu__list > .menu__item:active > .menu__link {

}
.menu__list > .menu__link:before {

}
.menu__link:after {
    border-top: 4px solid #406080;
    border-left: 4px solid #406080;
}
.menu__icon {

}
.menu__badge {

{theme_main_color_badge}
}
.menu__submenu {








border-style: solid;



text-align:left;
}

.menu__submenu .menu__item {
font-family:Tahoma, Arial, sans-serif;
font-size:12px;







border-style:solid;


background-color:#E9D3FF;


}

.menu__submenu .menu__item:first-child {
{theme_sub_borderwidth_item_first}
}
.menu__submenu .menu__item:last-child {
{theme_sub_borderwidth_item_last}
}

.menu__submenu .menu__item {
color:#404040;
}

.menu__submenu .menu__item:hover {
background-color:#EFE0FF;
}
.menu__submenu .menu__item:hover .menu__link {
color:#404040;
}
.menu__submenu .menu__item:active {

}
.menu__submenu .menu__item:active .menu__link {

}
@media only screen and (max-width: 576px) {
  .menu {
    font-family:Tahoma, Arial, sans-serif;
    font-size:12px;
      border-bottom: 1px solid transparent;
      padding: 0;
    }
    .menu:before {
    
    
    }
    .menu:after {
      background-color:    rgba(0, 0, 0, 0.5);
    }
    .menu .menu__container {
    
    }
    .menu .menu__item,
    .menu .menu__item:hover {
    border-bottom: 1px solid 
    }
    .menu .menu__item--active,
    .menu .menu__item:hover--active {
    background-color:#E9D3FF;
    }
    .menu .menu__item--active > .menu__link,
    .menu .menu__item:hover--active > .menu__link {
    color:#406080;
    }
    .menu .menu__link,
    .menu .menu__item:hover .menu__link {
    color:#406080;
    }
    .menu .menu__submenu .menu__item:hover {
    : transparent;
      border-bottom: 0;
    }
    .menu .menu__submenu .menu__link:before {
    color:#406080;
    }
    .menu .menu__item--withsubmenu > .menu__link:after {
    border-left: 4px solid 
    }
    .menu__list > .menu__item {
        {theme_main_borderwidth_item_vertical}
    }
    #idMenuHeader
    {
      display:none;
    }
    #idMenuVertical
    {
      box-shadow:none;
      margin:0px;
    }
}