.css_idruang_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idruang_grid_line {vertical-align: top;text-align: right;}
.css_namaruang_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namaruang_grid_line {vertical-align: top;text-align: left;}
.css_kelas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kelas_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: left;}
.css_tersedia_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_tersedia_grid_line {text-align: left;}
