.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_jenispenunjang__label { }
.css_jenispenunjang__line { }
.css_jenispenunjang__obj { }
.css_pemeriksaanpenunjang__label { }
.css_pemeriksaanpenunjang__line { }
.css_pemeriksaanpenunjang__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
