.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_tindakan__label { }
.css_tindakan__line { }
.css_tindakan__obj { }
.css_class__label { }
.css_class__line { }
.css_class__obj { }
.css_rate__label {text-align:;}
.css_rate__line {text-align:left;}
.css_rate__obj {text-align:left;}
