.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_keterangan_label { }
.css_keterangan_line { }
.css_keterangan_obj { }
.css_deposit_label { }
.css_deposit_line {text-align:left;}
.css_deposit_obj {text-align:left;}
.css_trandate_label { }
.css_trandate_line { }
.css_trandate_obj { }
.css_nostruk_label { }
.css_nostruk_line {text-align:left;}
.css_nostruk_obj {text-align:left;}
.css_billdetail_label { }
.css_billdetail_line { }
.css_billdetail_obj { }
