.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_bahan__label { }
.css_bahan__line { }
.css_bahan__obj { }
.css_satuan__label { }
.css_satuan__line { }
.css_satuan__obj { }
.css_stokawal__label {text-align:;}
.css_stokawal__line {text-align:left;}
.css_stokawal__obj {text-align:left;}
.css_koreksi__label {text-align:;}
.css_koreksi__line {text-align:left;}
.css_koreksi__obj {text-align:left;}
.css_stokakhir__label {text-align:;}
.css_stokakhir__line {text-align:left;}
.css_stokakhir__obj {text-align:left;}
.css_keterangan__label { }
.css_keterangan__line { }
.css_keterangan__obj { }
