.css_id_pbf_label { }
.css_id_pbf_line { }
.css_id_pbf_obj { }
.css_id_hutang_label { }
.css_id_hutang_line {text-align:left;}
.css_id_hutang_obj {text-align:left;}
.css_no_referensi_label { }
.css_no_referensi_line { }
.css_no_referensi_obj { }
.css_keterangan_label { }
.css_keterangan_line { }
.css_keterangan_obj { }
.css_tanggal_label { }
.css_tanggal_line { }
.css_tanggal_obj { }
.css_jumlah_bayar_label { }
.css_jumlah_bayar_line {text-align:left;}
.css_jumlah_bayar_obj {text-align:left;}
.css_jenis_pembayaran_label { }
.css_jenis_pembayaran_line {text-align:left;}
.css_jenis_pembayaran_obj {text-align:left;}
