.css_trancode__label { }
.css_trancode__line { }
.css_trancode__obj { }
.css_tinggi__label { }
.css_tinggi__line {text-align:left;}
.css_tinggi__obj {text-align:left;}
.css_berat__label { }
.css_berat__line {text-align:left;}
.css_berat__obj {text-align:left;}
.css_detakjantung__label { }
.css_detakjantung__line {text-align:left;}
.css_detakjantung__obj {text-align:left;}
.css_tekanandarah__label { }
.css_tekanandarah__line { }
.css_tekanandarah__obj { }
.css_suhu__label { }
.css_suhu__line {text-align:left;}
.css_suhu__obj {text-align:left;}
.css_nafas__label { }
.css_nafas__line {text-align:left;}
.css_nafas__obj {text-align:left;}
.css_keluhan__label { }
.css_keluhan__line { }
.css_keluhan__obj { }
.css_pemeriksa__label { }
.css_pemeriksa__line { }
.css_pemeriksa__obj { }
.css_tglperiksa__label { }
.css_tglperiksa__line { }
.css_tglperiksa__obj { }
