.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_custcode_label { }
.css_custcode_line { }
.css_custcode_obj { }
.css_trandate_label { }
.css_trandate_line { }
.css_trandate_obj { }
.css_ett_label { }
.css_ett_line {text-align:left;}
.css_ett_obj {text-align:left;}
.css_cvl_label { }
.css_cvl_line {text-align:left;}
.css_cvl_obj {text-align:left;}
.css_ivl_label { }
.css_ivl_line {text-align:left;}
.css_ivl_obj {text-align:left;}
.css_uc_label { }
.css_uc_line {text-align:left;}
.css_uc_obj {text-align:left;}
.css_vap_label { }
.css_vap_line {text-align:left;}
.css_vap_obj {text-align:left;}
.css_iad_label { }
.css_iad_line {text-align:left;}
.css_iad_obj {text-align:left;}
.css_pleb_label { }
.css_pleb_line {text-align:left;}
.css_pleb_obj {text-align:left;}
.css_isk_label { }
.css_isk_line {text-align:left;}
.css_isk_obj {text-align:left;}
.css_deku_label { }
.css_deku_line {text-align:left;}
.css_deku_obj {text-align:left;}
.css_sputum_label { }
.css_sputum_line {text-align:left;}
.css_sputum_obj {text-align:left;}
.css_darah_label { }
.css_darah_line {text-align:left;}
.css_darah_obj {text-align:left;}
.css_urine_label { }
.css_urine_line {text-align:left;}
.css_urine_obj {text-align:left;}
.css_antibiotik_label { }
.css_antibiotik_line {text-align:left;}
.css_antibiotik_obj {text-align:left;}
