.css_poly_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_poly_grid_line {vertical-align: top;text-align: right;}
.css_doctor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doctor_grid_line {vertical-align: top;text-align: right;}
.css_regdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_regdate_grid_line {vertical-align: top;text-align: center;}
.css_inst_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_inst_grid_line {vertical-align: top;text-align: right;}
.css_bayar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bayar_grid_line {vertical-align: top;text-align: right;}
.css_tariff_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tariff_grid_line {text-align: right;}
