.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_inapcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_inapcode_grid_line {vertical-align: top;text-align: right;}
.css_entrydate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_entrydate_grid_line {vertical-align: top;text-align: center;}
.css_diagpre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagpre_grid_line {vertical-align: top;text-align: right;}
.css_diagpost_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagpost_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_babybirth_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_babybirth_grid_line {vertical-align: top;text-align: right;}
.css_birthdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_birthdate_grid_line {vertical-align: top;text-align: center;}
.css_birthtime_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_birthtime_grid_line {vertical-align: top;text-align: right;}
