.css_rm_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rm_grid_line {vertical-align: top;text-align: left;}
.css_pasien_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pasien_grid_line {vertical-align: top;text-align: left;}
.css_carabayar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_carabayar_grid_line {vertical-align: top;text-align: left;}
.css_tglmasuk_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglmasuk_grid_line {vertical-align: top;text-align: center;}
.css_tglkeluar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglkeluar_grid_line {vertical-align: top;text-align: center;}
.css_dpjp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dpjp_grid_line {vertical-align: top;text-align: left;}
.css_poli_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_poli_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: left;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {text-align: right;}
.css_verifstatus_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_verifstatus_grid_line {text-align: left;}
.css_verifiedby_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_verifiedby_grid_line {text-align: left;}
.css_deposit_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_deposit_grid_line {text-align: right;}
.css_selisih_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_selisih_grid_line {text-align: right;}
.css_e_kelas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_e_kelas_grid_line {vertical-align: top;text-align: left;}
.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: left;}
