.css_ceklab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ceklab_grid_line {vertical-align: top;text-align: left;}
.css_namalab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namalab_grid_line {vertical-align: top;text-align: left;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
