.css_treatment_det_label {text-align: right;vertical-align: middle;}
.css_treatment_det_line {height:0px;text-align: right;}
.css_jumlah_det_label {text-align: right;vertical-align: middle;}
.css_jumlah_det_line {height:0px;text-align: right;}
.css_tgl_det_label {text-align: right;vertical-align: middle;}
.css_tgl_det_line {height:0px;text-align: right;}
.css_deskripsi_det_label {text-align: right;vertical-align: middle;}
.css_deskripsi_det_line {font-weight:bold;height:0px;text-align: right;}
