.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nama_obat_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_obat_grid_line {vertical-align: top;text-align: right;}
.css_satuan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_satuan_grid_line {vertical-align: top;text-align: right;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: right;}
.css_maks_usage_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_maks_usage_grid_line {vertical-align: top;text-align: right;}
