.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_tgl_masuk__label { }
.css_tgl_masuk__line { }
.css_tgl_masuk__obj { }
.css_current_stock__label { }
.css_current_stock__line {text-align:left;}
.css_current_stock__obj {text-align:left;}
