.css_kode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kode_grid_line {vertical-align: top;text-align: right;}
.css_norm_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_norm_grid_line {vertical-align: top;text-align: right;}
.css_rm_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rm_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_1_grid_line {text-align: right;}
.css_usia_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_usia_grid_line {text-align: right;}
.css_dokter_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dokter_grid_line {vertical-align: top;text-align: right;}
.css_tglmasuk_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglmasuk_grid_line {vertical-align: top;text-align: center;}
.css_kelas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kelas_grid_line {vertical-align: top;text-align: right;}
.css_ruanginap_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ruanginap_grid_line {text-align: center;}
.css_bayar_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_bayar_grid_line {text-align: right;}
.css_diagnosa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagnosa_grid_line {vertical-align: top;text-align: right;}
.css_selesai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selesai_grid_line {vertical-align: top;text-align: right;}
.css_tglkeluar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglkeluar_grid_line {vertical-align: top;text-align: center;}
.css_jeniskeluar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jeniskeluar_grid_line {vertical-align: top;text-align: right;}
.css_carakeluar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_carakeluar_grid_line {vertical-align: top;text-align: right;}
