.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_item__label { }
.css_item__line { }
.css_item__obj { }
.css_jml__label {text-align:;}
.css_jml__line {text-align:left;}
.css_jml__obj {text-align:left;}
.css_retur__label {text-align:;}
.css_retur__line {text-align:left;}
.css_retur__obj {text-align:left;}
.css_inputdate__label { }
.css_inputdate__line { }
.css_inputdate__obj { }
.css_status__label {text-align:;}
.css_status__line {text-align:left;}
.css_status__obj {text-align:left;}
.css_userinput__label { }
.css_userinput__line { }
.css_userinput__obj { }
