.css_namaitem__label { }
.css_namaitem__line { }
.css_namaitem__obj { }
.css_jenisbarang__label { }
.css_jenisbarang__line { }
.css_jenisbarang__obj { }
.css_jenisobat__label { }
.css_jenisobat__line { }
.css_jenisobat__obj { }
.css_satuanterkecil__label { }
.css_satuanterkecil__line { }
.css_satuanterkecil__obj { }
.css_stokminimal__label {text-align:;}
.css_stokminimal__line {text-align:left;}
.css_stokminimal__obj {text-align:left;}
.css_kemasanbeli__label { }
.css_kemasanbeli__line { }
.css_kemasanbeli__obj { }
.css_generik__label { }
.css_generik__line {text-align:left;}
.css_generik__obj {text-align:left;}
.css_paten__label { }
.css_paten__line {text-align:left;}
.css_paten__obj {text-align:left;}
.css_max__label {text-align:;}
.css_max__line {text-align:left;}
.css_max__obj {text-align:left;}
