.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: right;}
.css_nik_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nik_grid_line {vertical-align: top;text-align: right;}
.css_ponsel_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ponsel_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_npwp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_npwp_grid_line {vertical-align: top;text-align: right;}
