.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_tindakan__label { }
.css_tindakan__line { }
.css_tindakan__obj { }
.css_pelaksana__label { }
.css_pelaksana__line { }
.css_pelaksana__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_biaya__label { }
.css_biaya__line {text-align:right;}
.css_biaya__obj {text-align:right;}
.css_tgltindakan__label { }
.css_tgltindakan__line { }
.css_tgltindakan__obj { }
.css_diskon__label { }
.css_diskon__line { }
.css_diskon__obj { }
.css_kelas__label { }
.css_kelas__line { }
.css_kelas__obj { }
.css_pembayaran__label { }
.css_pembayaran__line { }
.css_pembayaran__obj { }
