.css_pocode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pocode_grid_line {vertical-align: top;text-align: left;}
.css_pbf_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pbf_grid_line {font-weight:bold;vertical-align: top;text-align: left;}
.css_non_pbf_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_non_pbf_grid_line {font-weight:bold;vertical-align: top;text-align: left;}
.css_pesandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pesandate_grid_line {vertical-align: top;text-align: center;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: left;}
.css_detailpo_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_detailpo_grid_line {text-align: center;}
.css_fakturno_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fakturno_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_datangdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_datangdate_grid_line {vertical-align: top;text-align: center;}
.css_jatuhtempo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_jatuhtempo_grid_line {vertical-align: top;text-align: center;}
