.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_item__label { }
.css_item__line { }
.css_item__obj { }
.css_qty__label { }
.css_qty__line {text-align:left;}
.css_qty__obj {text-align:left;}
