.css_tglmasuk_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglmasuk_grid_line {vertical-align: top;text-align: center;}
.css_dokter_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dokter_grid_line {vertical-align: top;text-align: left;}
.css_poli_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_poli_grid_line {vertical-align: top;text-align: left;}
.css_hta_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_hta_grid_line {vertical-align: top;text-align: center;}
.css_diagnosa1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagnosa1_grid_line {vertical-align: top;text-align: left;}
.css_icd1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_icd1_grid_line {vertical-align: top;text-align: left;}
.css_selesai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selesai_grid_line {vertical-align: top;text-align: left;}
.css_detail_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_detail_grid_line {}
