.css_racikancode_label { }
.css_racikancode_line { }
.css_racikancode_obj { }
.css_jasaresep_label { }
.css_jasaresep_line {text-align:left;}
.css_jasaresep_obj {text-align:left;}
.css_signakali_label { }
.css_signakali_line {text-align:left;}
.css_signakali_obj {text-align:left;}
.css_jenisaturanpakai_label { }
.css_jenisaturanpakai_line { }
.css_jenisaturanpakai_obj { }
.css_totalracikan_label { }
.css_totalracikan_line {text-align:left;}
.css_totalracikan_obj {text-align:left;}
.css_hargatotal_label { }
.css_hargatotal_line {text-align:left;}
.css_hargatotal_obj {text-align:left;}
.css_detail_label { }
.css_detail_line { }
.css_detail_obj { }
