.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_karyawan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_karyawan_grid_line {vertical-align: top;text-align: right;}
.css_durasi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_durasi_grid_line {vertical-align: top;text-align: right;}
.css_tarif_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tarif_grid_line {vertical-align: top;text-align: right;}
.css_tanggal_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tanggal_grid_line {vertical-align: top;text-align: center;}
.css_disetujui_oleh_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_disetujui_oleh_grid_line {vertical-align: top;text-align: right;}
