.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_id_karyawan_det_label {text-align: left;vertical-align: middle;}
.css_id_karyawan_det_line {height:0px;text-align: left;}
.css_durasi_det_label {text-align: left;vertical-align: middle;}
.css_durasi_det_line {height:0px;text-align: left;}
.css_tarif_det_label {text-align: left;vertical-align: middle;}
.css_tarif_det_line {height:0px;text-align: left;}
.css_tanggal_det_label {text-align: left;vertical-align: middle;}
.css_tanggal_det_line {height:0px;text-align: left;}
.css_disetujui_oleh_det_label {text-align: left;vertical-align: middle;}
.css_disetujui_oleh_det_line {height:0px;text-align: left;}
