.css_pocode_label { }
.css_pocode_line { }
.css_pocode_obj { }
.css_pbf_label { }
.css_pbf_line { }
.css_pbf_obj { }
.css_pesandate_label { }
.css_pesandate_line { }
.css_pesandate_obj { }
.css_datangdate_label { }
.css_datangdate_line { }
.css_datangdate_obj { }
.css_jatuhtempo_label { }
.css_jatuhtempo_line { }
.css_jatuhtempo_obj { }
.css_total_label { }
.css_total_line {text-align:left;}
.css_total_obj {text-align:left;}
.css_fakturno_label { }
.css_fakturno_line { }
.css_fakturno_obj { }
.css_note_label { }
.css_note_line { }
.css_note_obj { }
.css_status_label { }
.css_status_line { }
.css_status_obj { }
.css_ppn_label { }
.css_ppn_line {text-align:left;}
.css_ppn_obj {text-align:left;}
.css_totalreal_label { }
.css_totalreal_line {text-align:left;}
.css_totalreal_obj {text-align:left;}
.css_orderdate_label { }
.css_orderdate_line { }
.css_orderdate_obj { }
.css_reqcode_label { }
.css_reqcode_line { }
.css_reqcode_obj { }
.css_tglbast_label { }
.css_tglbast_line { }
.css_tglbast_obj { }
.css_nobast_label { }
.css_nobast_line { }
.css_nobast_obj { }
.css_non_pbf_label { }
.css_non_pbf_line { }
.css_non_pbf_obj { }
.css_detailpo_label { }
.css_detailpo_line { }
.css_detailpo_obj { }
