.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_gaji_pokok_det_label {text-align: right;vertical-align: middle;}
.css_gaji_pokok_det_line {height:0px;text-align: right;}
.css_tunj_struktural_det_label {text-align: right;vertical-align: middle;}
.css_tunj_struktural_det_line {height:0px;text-align: right;}
.css_tunj_fungsional_det_label {text-align: right;vertical-align: middle;}
.css_tunj_fungsional_det_line {height:0px;text-align: right;}
.css_tunj_keluarga_det_label {text-align: right;vertical-align: middle;}
.css_tunj_keluarga_det_line {height:0px;text-align: right;}
.css_tunj_transport_makan_det_label {text-align: right;vertical-align: middle;}
.css_tunj_transport_makan_det_line {height:0px;text-align: right;}
.css_tunj_bpjs_kesehatan_det_label {text-align: right;vertical-align: middle;}
.css_tunj_bpjs_kesehatan_det_line {height:0px;text-align: right;}
.css_no_dok_penetapan_det_label {text-align: right;vertical-align: middle;}
.css_no_dok_penetapan_det_line {height:0px;text-align: right;}
.css_tanggal_penetapan_det_label {text-align: right;vertical-align: middle;}
.css_tanggal_penetapan_det_line {height:0px;text-align: right;}
.css_status_det_label {text-align: right;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: right;}
.css_keterangan_det_label {text-align: right;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: right;}
.css_id_karyawan_det_label {text-align: right;vertical-align: middle;}
.css_id_karyawan_det_line {height:0px;text-align: right;}
