.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_karyawan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_karyawan_grid_line {vertical-align: top;text-align: right;}
.css_gaji_pokok_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_gaji_pokok_grid_line {vertical-align: top;text-align: right;}
.css_tunj_struktural_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_struktural_grid_line {vertical-align: top;text-align: right;}
.css_tunj_fungsional_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_fungsional_grid_line {vertical-align: top;text-align: right;}
.css_tunj_keluarga_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_keluarga_grid_line {vertical-align: top;text-align: right;}
.css_tunj_transport_makan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tunj_transport_makan_grid_line {vertical-align: top;text-align: right;}
