.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_akun_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_akun_grid_line {vertical-align: top;text-align: right;}
.css_nominal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nominal_grid_line {vertical-align: top;text-align: right;}
.css_flag_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_flag_grid_line {vertical-align: top;text-align: right;}
.css_tanggal_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tanggal_grid_line {vertical-align: top;text-align: center;}
.css_id_transaksi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_transaksi_grid_line {vertical-align: top;text-align: right;}
