.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_akun_det_label {text-align: left;vertical-align: middle;}
.css_akun_det_line {height:0px;text-align: left;}
.css_nominal_det_label {text-align: left;vertical-align: middle;}
.css_nominal_det_line {height:0px;text-align: left;}
.css_flag_det_label {text-align: left;vertical-align: middle;}
.css_flag_det_line {height:0px;text-align: left;}
.css_tanggal_det_label {text-align: left;vertical-align: middle;}
.css_tanggal_det_line {height:0px;text-align: left;}
.css_id_transaksi_det_label {text-align: left;vertical-align: middle;}
.css_id_transaksi_det_line {height:0px;text-align: left;}
