.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_nostruk_label { }
.css_nostruk_line {text-align:left;}
.css_nostruk_obj {text-align:left;}
.css_custcode_label { }
.css_custcode_line { }
.css_custcode_obj { }
.css_dokter_label { }
.css_dokter_line { }
.css_dokter_obj { }
.css_jmltagihan_label { }
.css_jmltagihan_line {text-align:right;}
.css_jmltagihan_obj {text-align:right;}
.css_jmlbayar_label { }
.css_jmlbayar_line {text-align:right;}
.css_jmlbayar_obj {text-align:right;}
.css_deposit_label { }
.css_deposit_line {text-align:right;}
.css_deposit_obj {text-align:right;}
.css_potongan_label { }
.css_potongan_line {text-align:right;}
.css_potongan_obj {text-align:right;}
.css_hrsdibayar_label { }
.css_hrsdibayar_line {text-align:right;}
.css_hrsdibayar_obj {text-align:right;}
.css_terimadari_label { }
.css_terimadari_line { }
.css_terimadari_obj { }
.css_jenispayment_label { }
.css_jenispayment_line { }
.css_jenispayment_obj { }
.css_instansipenjamin_label { }
.css_instansipenjamin_line { }
.css_instansipenjamin_obj { }
.css_bankdebit_label { }
.css_bankdebit_line { }
.css_bankdebit_obj { }
.css_nokartu_label { }
.css_nokartu_line { }
.css_nokartu_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_nopayment_label { }
.css_nopayment_line {text-align:right;}
.css_nopayment_obj {text-align:right;}
.css_kasir_label { }
.css_kasir_line { }
.css_kasir_obj { }
.css_sc_field_1_label { }
.css_sc_field_1_line { }
.css_sc_field_1_obj { }
.css_poli_label { }
.css_poli_line { }
.css_poli_obj { }
.css_detailrad_label { }
.css_detailrad_line { }
.css_detailrad_obj { }
.css_adm_label { }
.css_adm_line { }
.css_adm_obj { }
