.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_usulancode_det_label {text-align: right;vertical-align: middle;}
.css_usulancode_det_line {height:0px;text-align: right;}
.css_keterangan_det_label {text-align: right;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: right;}
.css_pic_acc_det_label {text-align: right;vertical-align: middle;}
.css_pic_acc_det_line {height:0px;text-align: right;}
.css_pic_date_det_label {text-align: right;vertical-align: middle;}
.css_pic_date_det_line {height:0px;text-align: right;}
.css_spv_acc_det_label {text-align: right;vertical-align: middle;}
.css_spv_acc_det_line {height:0px;text-align: right;}
.css_spv_date_det_label {text-align: right;vertical-align: middle;}
.css_spv_date_det_line {height:0px;text-align: right;}
.css_a_orderdate_det_label {text-align: right;vertical-align: middle;}
.css_a_orderdate_det_line {height:0px;text-align: right;}
.css_selesai_det_label {text-align: right;vertical-align: middle;}
.css_selesai_det_line {height:0px;text-align: right;}
