.css_usulancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usulancode_grid_line {vertical-align: top;text-align: left;}
.css_total_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: left;}
.css_a_orderdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_a_orderdate_grid_line {vertical-align: top;text-align: center;}
.css_status_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_status_grid_line {text-align: left;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: left;}
