.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: left;}
.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: left;}
.css_salut_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_salut_grid_line {vertical-align: top;text-align: left;}
.css_education_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_education_grid_line {vertical-align: top;text-align: left;}
.css_registerdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_registerdate_grid_line {vertical-align: top;text-align: center;}
