.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_socode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_socode_grid_line {vertical-align: top;text-align: left;}
.css_namaitem_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namaitem_grid_line {vertical-align: top;text-align: left;}
.css_stokawal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_stokawal_grid_line {vertical-align: top;text-align: right;}
.css_stokkoreksi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_stokkoreksi_grid_line {vertical-align: top;text-align: right;}
.css_stokakhir_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_stokakhir_grid_line {vertical-align: top;text-align: right;}
