.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_custcode_label { }
.css_custcode_line { }
.css_custcode_obj { }
.css_babybirth_label { }
.css_babybirth_line {text-align:left;}
.css_babybirth_obj {text-align:left;}
.css_birthdate_label { }
.css_birthdate_line { }
.css_birthdate_obj { }
.css_birthtime_label { }
.css_birthtime_line { }
.css_birthtime_obj { }
.css_bb_label { }
.css_bb_line {text-align:left;}
.css_bb_obj {text-align:left;}
.css_tb_label { }
.css_tb_line {text-align:left;}
.css_tb_obj {text-align:left;}
.css_lingkar_label { }
.css_lingkar_line {text-align:left;}
.css_lingkar_obj {text-align:left;}
.css_hidup_label { }
.css_hidup_line {text-align:left;}
.css_hidup_obj {text-align:left;}
.css_anestime_label { }
.css_anestime_line { }
.css_anestime_obj { }
.css_intime_label { }
.css_intime_line { }
.css_intime_obj { }
.css_outtime_label { }
.css_outtime_line { }
.css_outtime_obj { }
.css_pa_label { }
.css_pa_line { }
.css_pa_obj { }
.css_cito_label { }
.css_cito_line { }
.css_cito_obj { }
.css_diagpre_label { }
.css_diagpre_line { }
.css_diagpre_obj { }
.css_diagpost_label { }
.css_diagpost_line { }
.css_diagpost_obj { }
.css_trandate_label { }
.css_trandate_line { }
.css_trandate_obj { }
.css_class_label { }
.css_class_line { }
.css_class_obj { }
.css_awalobs_label { }
.css_awalobs_line { }
.css_awalobs_obj { }
.css_akhirobs_label { }
.css_akhirobs_line { }
.css_akhirobs_obj { }
.css_inapcode_label { }
.css_inapcode_line { }
.css_inapcode_obj { }
.css_observasi_label { }
.css_observasi_line { }
.css_observasi_obj { }
.css_tindobservasi_label { }
.css_tindobservasi_line { }
.css_tindobservasi_obj { }
.css_funcroom_label { }
.css_funcroom_line { }
.css_funcroom_obj { }
.css_nama_label { }
.css_nama_line { }
.css_nama_obj { }
.css_detailinsentif_label { }
.css_detailinsentif_line { }
.css_detailinsentif_obj { }
.css_resepvk_label { }
.css_resepvk_line { }
.css_resepvk_obj { }
