.css_doccode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doccode_grid_line {vertical-align: top;text-align: left;}
.css_tindakan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tindakan_grid_line {vertical-align: top;text-align: left;}
.css_tindname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tindname_grid_line {vertical-align: top;text-align: left;}
.css_class_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_class_grid_line {vertical-align: top;text-align: left;}
.css_rate_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rate_grid_line {vertical-align: top;text-align: right;}
.css_taxedrate_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_taxedrate_grid_line {vertical-align: top;text-align: right;}
