.css_npocode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_npocode_grid_line {vertical-align: top;text-align: left;}
.css_alasan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_alasan_grid_line {vertical-align: top;text-align: left;}
.css_pj_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pj_grid_line {vertical-align: top;text-align: left;}
.css_npodate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_npodate_grid_line {vertical-align: top;text-align: center;}
.css_selesai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selesai_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
