.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_kary_label { }
.css_id_kary_line {text-align:left;}
.css_id_kary_obj {text-align:left;}
.css_jenis_label { }
.css_jenis_line { }
.css_jenis_obj { }
.css_fromdate_label { }
.css_fromdate_line { }
.css_fromdate_obj { }
.css_todate_label { }
.css_todate_line { }
.css_todate_obj { }
.css_desc_label { }
.css_desc_line { }
.css_desc_obj { }
.css_attachment_label { }
.css_attachment_line { }
.css_attachment_obj { }
.css_status_label { }
.css_status_line { }
.css_status_obj { }
