.css_trancode_det_label {text-align: left;vertical-align: middle;}
.css_trancode_det_line {height:0px;text-align: left;}
.css_trandate_det_label {text-align: left;vertical-align: middle;}
.css_trandate_det_line {height:0px;text-align: left;}
.css_nama_det_label {text-align: left;vertical-align: middle;}
.css_nama_det_line {height:0px;text-align: left;}
.css_dpjp_det_label {text-align: left;vertical-align: middle;}
.css_dpjp_det_line {height:0px;text-align: left;}
.css_rm_det_label {text-align: left;vertical-align: middle;}
.css_rm_det_line {height:0px;text-align: left;}
.css_sc_field_0_det_label {text-align: left;vertical-align: middle;}
.css_sc_field_0_det_line {height:0px;text-align: left;}
