.css_bahancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bahancode_grid_line {vertical-align: top;text-align: left;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: left;}
.css_kategori_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kategori_grid_line {vertical-align: top;text-align: left;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: left;}
.css_satuan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_satuan_grid_line {vertical-align: top;text-align: left;}
.css_stok_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_stok_grid_line {text-align: center;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
