.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_tgl_kirim_det_label {text-align: right;vertical-align: middle;}
.css_tgl_kirim_det_line {height:0px;text-align: right;}
.css_jadwal_det_label {text-align: right;vertical-align: middle;}
.css_jadwal_det_line {height:0px;text-align: right;}
