.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_tgl_kirim_det_label {text-align: left;vertical-align: middle;}
.css_tgl_kirim_det_line {height:0px;text-align: left;}
.css_jadwal_det_label {text-align: left;vertical-align: middle;}
.css_jadwal_det_line {height:0px;text-align: left;}
