.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_item__label {width:15px;}
.css_item__line {width:15px;}
.css_item__obj { }
.css_satuan__label { }
.css_satuan__line { }
.css_satuan__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_signa__label { }
.css_signa__line {text-align:left;}
.css_signa__obj {text-align:left;}
.css_jenisaturanpakai__label { }
.css_jenisaturanpakai__line { }
.css_jenisaturanpakai__obj { }
.css_biaya__label { }
.css_biaya__line {text-align:left;}
.css_biaya__obj {text-align:left;}
.css_trandate__label { }
.css_trandate__line { }
.css_trandate__obj { }
.css_diskon__label { }
.css_diskon__line {text-align:left;}
.css_diskon__obj {text-align:left;}
.css_stok__label { }
.css_stok__line { }
.css_stok__obj { }
