.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_karyawan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_karyawan_grid_line {vertical-align: top;text-align: right;}
.css_no_kontrak_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_no_kontrak_grid_line {vertical-align: top;text-align: right;}
.css_tanggal_awal_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tanggal_awal_grid_line {vertical-align: top;text-align: center;}
.css_tanggal_akhir_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tanggal_akhir_grid_line {vertical-align: top;text-align: center;}
.css_tmt_kerja_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tmt_kerja_grid_line {vertical-align: top;text-align: center;}
