.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_subname__label { }
.css_subname__line { }
.css_subname__obj { }
.css_kondisi__label { }
.css_kondisi__line { }
.css_kondisi__obj { }
.css_jml_hari__label { }
.css_jml_hari__line {text-align:left;}
.css_jml_hari__obj {text-align:left;}
.css_n1__label { }
.css_n1__line { }
.css_n1__obj { }
.css_n2__label { }
.css_n2__line { }
.css_n2__obj { }
.css_oper__label { }
.css_oper__line { }
.css_oper__obj { }
