.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_namaadm__label { }
.css_namaadm__line { }
.css_namaadm__obj { }
.css_diskon__label { }
.css_diskon__line {text-align:left;}
.css_diskon__obj {text-align:left;}
.css_tgladm__label { }
.css_tgladm__line { }
.css_tgladm__obj { }
