.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_nama_mesin_det_label {text-align: left;vertical-align: middle;}
.css_nama_mesin_det_line {height:0px;text-align: left;}
.css_keterangan_det_label {text-align: left;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: left;}
.css_ip_det_label {text-align: left;vertical-align: middle;}
.css_ip_det_line {height:0px;text-align: left;}
.css_key_det_label {text-align: left;vertical-align: middle;}
.css_key_det_line {height:0px;text-align: left;}
.css_status_det_label {text-align: left;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: left;}
