.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nama_mesin_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_mesin_grid_line {vertical-align: top;text-align: right;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: right;}
.css_ip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ip_grid_line {vertical-align: top;text-align: right;}
.css_key_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_key_grid_line {vertical-align: top;text-align: right;}
.css_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: right;}
