.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_transaksi_label { }
.css_id_transaksi_line {text-align:left;}
.css_id_transaksi_obj {text-align:left;}
.css_no_referensi_label { }
.css_no_referensi_line { }
.css_no_referensi_obj { }
.css_tanggal_label { }
.css_tanggal_line { }
.css_tanggal_obj { }
.css_keterangan_label { }
.css_keterangan_line { }
.css_keterangan_obj { }
.css_md_jurnal_master_label { }
.css_md_jurnal_master_line { }
.css_md_jurnal_master_obj { }
