.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_id_karyawan_det_label {text-align: left;vertical-align: middle;}
.css_id_karyawan_det_line {height:0px;text-align: left;}
.css_tanggal_kerja_det_label {text-align: left;vertical-align: middle;}
.css_tanggal_kerja_det_line {height:0px;text-align: left;}
.css_id_daftar_shift_det_label {text-align: left;vertical-align: middle;}
.css_id_daftar_shift_det_line {height:0px;text-align: left;}
