.css_tglkeluar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglkeluar_grid_line {vertical-align: top;text-align: center;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_diagnosa1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagnosa1_grid_line {vertical-align: top;text-align: right;}
.css_icd1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_icd1_grid_line {vertical-align: top;text-align: right;}
.css_dokter_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dokter_grid_line {vertical-align: top;text-align: right;}
.css_carakeluar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_carakeluar_grid_line {vertical-align: top;text-align: right;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: right;}
