.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_struk_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_struk_grid_line {vertical-align: top;text-align: right;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:top;justify-content:left;font-weight:bold;}
.css_nama_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: center;}
.css_inapcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_inapcode_grid_line {vertical-align: top;text-align: right;}
.css_docname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_docname_grid_line {vertical-align: top;text-align: right;}
.css_trandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_trandate_grid_line {vertical-align: top;text-align: center;}
.css_takendate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_takendate_grid_line {vertical-align: top;text-align: center;}
.css_finishdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_finishdate_grid_line {vertical-align: top;text-align: center;}
.css_status_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: right;}
.css_source_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_source_grid_line {vertical-align: top;text-align: right;}
.css_doccode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doccode_grid_line {vertical-align: top;text-align: right;}
