.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_nama__label { }
.css_nama__line { }
.css_nama__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_harga__label { }
.css_harga__line {text-align:left;}
.css_harga__obj {text-align:left;}
