.css_item__label { }
.css_item__line { }
.css_item__obj { }
.css_permintaan__label { }
.css_permintaan__line {text-align:left;}
.css_permintaan__obj {text-align:left;}
.css_realisasi__label { }
.css_realisasi__line {text-align:left;}
.css_realisasi__obj {text-align:left;}
.css_tglupdate__label { }
.css_tglupdate__line { }
.css_tglupdate__obj { }
.css_sc_field_0__label {text-align:right;}
.css_sc_field_0__line {text-align:right;}
.css_sc_field_0__obj {text-align:right;}
