.css_namasoap_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namasoap_grid_line {vertical-align: top;text-align: left;}
.css_subject_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_subject_grid_line {vertical-align: top;text-align: left;}
.css_object_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_object_grid_line {vertical-align: top;text-align: left;}
.css_assessment_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_assessment_grid_line {vertical-align: top;text-align: left;}
.css_plan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_plan_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
