.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_id_jns_transaksi_det_label {text-align: left;vertical-align: middle;}
.css_id_jns_transaksi_det_line {height:0px;text-align: left;}
.css_id_akun_det_label {text-align: left;vertical-align: middle;}
.css_id_akun_det_line {height:0px;text-align: left;}
