.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_id_jns_transaksi_det_label {text-align: right;vertical-align: middle;}
.css_id_jns_transaksi_det_line {height:0px;text-align: right;}
.css_id_akun_det_label {text-align: right;vertical-align: middle;}
.css_id_akun_det_line {height:0px;text-align: right;}
