.css_tgl_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tgl_grid_line {vertical-align: top;text-align: center;}
.css_bayar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bayar_grid_line {vertical-align: top;text-align: right;}
