.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_karyawan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_karyawan_grid_line {vertical-align: top;text-align: right;}
.css_level_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_level_grid_line {vertical-align: top;text-align: left;}
.css_lembaga_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_lembaga_grid_line {vertical-align: top;text-align: left;}
.css_tahun_lulus_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tahun_lulus_grid_line {vertical-align: top;text-align: left;}
