.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_level_det_label {text-align: right;vertical-align: middle;}
.css_level_det_line {height:0px;text-align: right;}
.css_lembaga_det_label {text-align: right;vertical-align: middle;}
.css_lembaga_det_line {height:0px;text-align: right;}
.css_tahun_lulus_det_label {text-align: right;vertical-align: middle;}
.css_tahun_lulus_det_line {height:0px;text-align: right;}
.css_id_karyawan_det_label {text-align: right;vertical-align: middle;}
.css_id_karyawan_det_line {height:0px;text-align: right;}
