.css_po__label { }
.css_po__line { }
.css_po__obj { }
.css_item__label { }
.css_item__line { }
.css_item__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_kemasan__label { }
.css_kemasan__line { }
.css_kemasan__obj { }
.css_isi__label { }
.css_isi__line {text-align:left;}
.css_isi__obj {text-align:left;}
.css_harga__label { }
.css_harga__line {text-align:left;}
.css_harga__obj {text-align:left;}
.css_principal__label { }
.css_principal__line { }
.css_principal__obj { }
.css_disc__label { }
.css_disc__line {text-align:left;}
.css_disc__obj {text-align:left;}
.css_jmlterima__label { }
.css_jmlterima__line {text-align:left;}
.css_jmlterima__obj {text-align:left;}
.css_subtotal__label { }
.css_subtotal__line { }
.css_subtotal__obj { }
.css_totalisi__label {text-align:right;}
.css_totalisi__line {text-align:right;}
.css_totalisi__obj {text-align:right;}
