.css_tglmasuk_det_label {text-align: left;vertical-align: middle;}
.css_tglmasuk_det_line {height:0px;text-align: left;}
.css_trancode_det_label {text-align: left;vertical-align: middle;}
.css_trancode_det_line {height:0px;text-align: left;}
.css_poli_det_label {text-align: left;vertical-align: middle;}
.css_poli_det_line {height:0px;text-align: left;}
.css_dokter_det_label {text-align: left;vertical-align: middle;}
.css_dokter_det_line {height:0px;text-align: left;}
.css_carakeluar_det_label {text-align: left;vertical-align: middle;}
.css_carakeluar_det_line {height:0px;text-align: left;}
.css_rm_det_label {text-align: left;vertical-align: middle;}
.css_rm_det_line {height:0px;text-align: left;}
.css_diag_det_label {text-align: left;vertical-align: middle;}
.css_diag_det_line {height:0px;text-align: left;}
.css_icd10_det_label {text-align: left;vertical-align: middle;}
.css_icd10_det_line {height:0px;text-align: left;}
.css_kategori_det_label {text-align: left;vertical-align: middle;}
.css_kategori_det_line {height:0px;text-align: left;}
