.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_karyawan_label { }
.css_id_karyawan_line {text-align:left;}
.css_id_karyawan_obj {text-align:left;}
.css_durasi_label { }
.css_durasi_line {text-align:left;}
.css_durasi_obj {text-align:left;}
.css_tarif_label { }
.css_tarif_line {text-align:left;}
.css_tarif_obj {text-align:left;}
.css_tanggal_label { }
.css_tanggal_line { }
.css_tanggal_obj { }
.css_disetujui_oleh_label { }
.css_disetujui_oleh_line {text-align:left;}
.css_disetujui_oleh_obj {text-align:left;}
