.css_gizi_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gizi_grid_line {vertical-align: top;text-align: left;}
.css_jadwal_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jadwal_grid_line {vertical-align: top;text-align: left;}
.css_mp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mp_grid_line {vertical-align: top;text-align: left;}
.css_ln_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ln_grid_line {vertical-align: top;text-align: left;}
.css_lh_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_lh_grid_line {vertical-align: top;text-align: left;}
.css_syr_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_syr_grid_line {vertical-align: top;text-align: left;}
.css_ekstra_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ekstra_grid_line {vertical-align: top;text-align: left;}
.css_buah_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_buah_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
