.css_item_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_item_grid_line {vertical-align: top;text-align: right;}
.css_satuan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_satuan_grid_line {vertical-align: top;text-align: right;}
.css_jumlah_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_jumlah_grid_line {vertical-align: top;text-align: right;}
.css_signa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_signa_grid_line {vertical-align: top;text-align: right;}
.css_jenisaturanpakai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenisaturanpakai_grid_line {vertical-align: top;text-align: right;}
.css_biaya_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_biaya_grid_line {vertical-align: top;text-align: right;}
.css_diskon_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_diskon_grid_line {vertical-align: top;text-align: right;}
.css_trandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_trandate_grid_line {vertical-align: top;text-align: center;}
.css_strukresep_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_strukresep_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
