.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_labcode_label { }
.css_labcode_line { }
.css_labcode_obj { }
.css_kategori_label { }
.css_kategori_line { }
.css_kategori_obj { }
.css_nama_label { }
.css_nama_line { }
.css_nama_obj { }
.css_oper_label { }
.css_oper_line { }
.css_oper_obj { }
.css_p1_label { }
.css_p1_line { }
.css_p1_obj { }
.css_p2_label { }
.css_p2_line { }
.css_p2_obj { }
.css_w1_label { }
.css_w1_line { }
.css_w1_obj { }
.css_w2_label { }
.css_w2_line { }
.css_w2_obj { }
.css_satuan_label { }
.css_satuan_line { }
.css_satuan_obj { }
.css_tipehasil_label { }
.css_tipehasil_line {text-align:left;}
.css_tipehasil_obj {text-align:left;}
.css_lastupdated_label { }
.css_lastupdated_line { }
.css_lastupdated_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_detail_label { }
.css_detail_line { }
.css_detail_obj { }
.css_tarif_label { }
.css_tarif_line { }
.css_tarif_obj { }
