.css_satuancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_satuancode_grid_line {vertical-align: top;text-align: left;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
