.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nama_dok_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_dok_grid_line {vertical-align: top;text-align: right;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: right;}
.css_sifat_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sifat_grid_line {vertical-align: top;text-align: right;}
.css_masa_berlaku_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_masa_berlaku_grid_line {vertical-align: top;text-align: center;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: right;}
.css_unit_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unit_grid_line {vertical-align: top;text-align: right;}
.css_karyawan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_karyawan_grid_line {vertical-align: top;text-align: right;}
