.css_trandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_trandate_grid_line {vertical-align: top;text-align: center;}
.css_trancode_label {text-align:right;vertical-align:top;justify-content:right;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: right;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_dari_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dari_grid_line {vertical-align: top;text-align: right;}
.css_total_label {text-align:right;vertical-align:top;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_kasir_label {text-align:right;vertical-align:top;justify-content:right;font-weight:bold;}
.css_kasir_grid_line {vertical-align: middle;text-align: center;}
