.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_kodetindakan_det_label {text-align: left;vertical-align: middle;}
.css_kodetindakan_det_line {height:0px;text-align: left;}
.css_kelas_det_label {text-align: left;vertical-align: middle;}
.css_kelas_det_line {height:0px;text-align: left;}
.css_jenisbayar_det_label {text-align: left;vertical-align: middle;}
.css_jenisbayar_det_line {height:0px;text-align: left;}
.css_jasasarana_det_label {text-align: left;vertical-align: middle;}
.css_jasasarana_det_line {height:0px;text-align: left;}
.css_jasapelayanan_det_label {text-align: left;vertical-align: middle;}
.css_jasapelayanan_det_line {height:0px;text-align: left;}
.css_jasamedik_det_label {text-align: left;vertical-align: middle;}
.css_jasamedik_det_line {height:0px;text-align: left;}
.css_tarif_det_label {text-align: left;vertical-align: middle;}
.css_tarif_det_line {height:0px;text-align: left;}
