.scAppDivSelectFieldsEnabled { text-align: center }
.scAppDivSelectFieldsDisabled { text-align: center }
.scAppDivTabLine { text-align: left }
.scExportEmailLabelSent { text-align: center }
.scGridFilterTagListItemClose:after { text-align: center }
.scGridFilterTagClose:after { text-align: center }
.scGridFilterTagListFilterLabelClose:after { text-align: center }
