.scGridLabelVert { text-align: center }
.scGridLabelFont { text-align: center }
.scGridSummarySearchLabel { text-align: center }
.scGridSummaryLabel { text-align: center }
.scGridSummaryGroupbySeq { text-align: center }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk { text-align: center }
.SumoSelect > .optWrapper.multiple > .MultiControls { text-align: css_summarysearch_multiselectbuttonline_text_align }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel { text-align: center }
