.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_id_hutang_det_label {text-align: right;vertical-align: middle;}
.css_id_hutang_det_line {height:0px;text-align: right;}
.css_no_referensi_det_label {text-align: right;vertical-align: middle;}
.css_no_referensi_det_line {height:0px;text-align: right;}
.css_keterangan_det_label {text-align: right;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: right;}
.css_tanggal_det_label {text-align: right;vertical-align: middle;}
.css_tanggal_det_line {height:0px;text-align: right;}
.css_jumlah_bayar_det_label {text-align: right;vertical-align: middle;}
.css_jumlah_bayar_det_line {height:0px;text-align: right;}
.css_jenis_pembayaran_det_label {text-align: right;vertical-align: middle;}
.css_jenis_pembayaran_det_line {height:0px;text-align: right;}
