.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_doccode_label { }
.css_doccode_line { }
.css_doccode_obj { }
.css_tindakan_label { }
.css_tindakan_line { }
.css_tindakan_obj { }
.css_tindname_label { }
.css_tindname_line { }
.css_tindname_obj { }
.css_class_label { }
.css_class_line { }
.css_class_obj { }
.css_rate_label { }
.css_rate_line {text-align:left;}
.css_rate_obj {text-align:left;}
.css_taxedrate_label { }
.css_taxedrate_line {text-align:left;}
.css_taxedrate_obj {text-align:left;}
.css_disc_label { }
.css_disc_line {text-align:left;}
.css_disc_obj {text-align:left;}
.css_nilai_label { }
.css_nilai_line {text-align:left;}
.css_nilai_obj {text-align:left;}
.css_trandate_label { }
.css_trandate_line { }
.css_trandate_obj { }
.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_struk_label { }
.css_struk_line { }
.css_struk_obj { }
