.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_struk_label { }
.css_struk_line { }
.css_struk_obj { }
.css_custcode_label { }
.css_custcode_line { }
.css_custcode_obj { }
.css_inapcode_label { }
.css_inapcode_line { }
.css_inapcode_obj { }
.css_doccode_label { }
.css_doccode_line { }
.css_doccode_obj { }
.css_docname_label { }
.css_docname_line { }
.css_docname_obj { }
.css_note_label { }
.css_note_line { }
.css_note_obj { }
.css_trandate_label { }
.css_trandate_line { }
.css_trandate_obj { }
.css_status_label { }
.css_status_line {text-align:left;}
.css_status_obj {text-align:left;}
.css_finishdate_label { }
.css_finishdate_line { }
.css_finishdate_obj { }
.css_poli_label { }
.css_poli_line { }
.css_poli_obj { }
.css_diag_label { }
.css_diag_line { }
.css_diag_obj { }
.css_instcode_label { }
.css_instcode_line { }
.css_instcode_obj { }
.css_proyeksidate_label { }
.css_proyeksidate_line { }
.css_proyeksidate_obj { }
.css_custage_label { }
.css_custage_line { }
.css_custage_obj { }
.css_plname_label { }
.css_plname_line { }
.css_plname_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_sc_field_1_label { }
.css_sc_field_1_line { }
.css_sc_field_1_obj { }
.css_alamat_label { }
.css_alamat_line { }
.css_alamat_obj { }
.css_detaillab_label { }
.css_detaillab_line { }
.css_detaillab_obj { }
.css_hasillab_label { }
.css_hasillab_line { }
.css_hasillab_obj { }
