.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_struk_label { }
.css_struk_line { }
.css_struk_obj { }
.css_pasien_label { }
.css_pasien_line { }
.css_pasien_obj { }
.css_custcode_label { }
.css_custcode_line { }
.css_custcode_obj { }
.css_custname_label { }
.css_custname_line { }
.css_custname_obj { }
.css_extname_label { }
.css_extname_line { }
.css_extname_obj { }
.css_trandate_label { }
.css_trandate_line { }
.css_trandate_obj { }
.css_iskaryawan_label { }
.css_iskaryawan_line {text-align:left;}
.css_iskaryawan_obj {text-align:left;}
.css_total_label { }
.css_total_line {text-align:left;}
.css_total_obj {text-align:left;}
.css_detailsell_label { }
.css_detailsell_line { }
.css_detailsell_obj { }
