.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
.css_stok_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_stok_grid_line {vertical-align: top;text-align: right;}
.css_depo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_depo_grid_line {vertical-align: top;text-align: right;}
.css_hja_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_hja_grid_line {vertical-align: top;text-align: right;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_total_tot_ger {text-align: right;}
