.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_po_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_po_grid_line {vertical-align: top;text-align: right;}
.css_item_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_item_grid_line {vertical-align: top;text-align: right;}
.css_jumlah_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_jumlah_grid_line {vertical-align: top;text-align: right;}
.css_kemasan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kemasan_grid_line {vertical-align: top;text-align: right;}
.css_isi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_isi_grid_line {vertical-align: top;text-align: right;}
