.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_perihal__label { }
.css_perihal__line { }
.css_perihal__obj { }
.css_alasan__label { }
.css_alasan__line { }
.css_alasan__obj { }
.css_tgl_peringatan__label { }
.css_tgl_peringatan__line { }
.css_tgl_peringatan__obj { }
.css_peringatan_ke__label { }
.css_peringatan_ke__line {text-align:left;}
.css_peringatan_ke__obj {text-align:left;}
.css_lampiran__label { }
.css_lampiran__line { }
.css_lampiran__obj { }
