.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_nopayment_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nopayment_grid_line {vertical-align: top;text-align: right;}
.css_paiddate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_paiddate_grid_line {vertical-align: top;text-align: center;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: right;}
.css_nominal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nominal_grid_line {vertical-align: top;text-align: right;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: right;}
.css_kasir_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kasir_grid_line {vertical-align: top;text-align: right;}
