.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_namaitem__label { }
.css_namaitem__line { }
.css_namaitem__obj { }
.css_lokasi_depo__label { }
.css_lokasi_depo__line { }
.css_lokasi_depo__obj { }
.css_exp_date__label { }
.css_exp_date__line { }
.css_exp_date__obj { }
.css_stokawal__label { }
.css_stokawal__line {text-align:left;}
.css_stokawal__obj {text-align:left;}
.css_stokkoreksi__label { }
.css_stokkoreksi__line {text-align:left;}
.css_stokkoreksi__obj {text-align:left;}
.css_stokakhir__label { }
.css_stokakhir__line {text-align:left;}
.css_stokakhir__obj {text-align:left;}
.css_keterangan__label { }
.css_keterangan__line { }
.css_keterangan__obj { }
