.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_user_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_user_grid_line {vertical-align: top;text-align: right;}
.css_date_time_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_date_time_grid_line {vertical-align: top;text-align: center;}
.css_ver_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ver_grid_line {vertical-align: top;text-align: right;}
.css_status_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: right;}
