.css_item__label { }
.css_item__line { }
.css_item__obj { }
.css_principal__label { }
.css_principal__line { }
.css_principal__obj { }
.css_disc__label { }
.css_disc__line {text-align:left;}
.css_disc__obj {text-align:left;}
.css_jmlterima__label { }
.css_jmlterima__line {text-align:left;}
.css_jmlterima__obj {text-align:left;}
.css_hargaterima__label { }
.css_hargaterima__line {text-align:left;}
.css_hargaterima__obj {text-align:left;}
.css_batchno__label { }
.css_batchno__line { }
.css_batchno__obj { }
.css_expdate__label { }
.css_expdate__line { }
.css_expdate__obj { }
.css_po__label { }
.css_po__line { }
.css_po__obj { }
.css_idpo__label { }
.css_idpo__line {text-align:left;}
.css_idpo__obj {text-align:left;}
