.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_item_label { }
.css_item_line { }
.css_item_obj { }
.css_satuan_label { }
.css_satuan_line { }
.css_satuan_obj { }
.css_jumlah_label { }
.css_jumlah_line {text-align:left;}
.css_jumlah_obj {text-align:left;}
.css_signa_label { }
.css_signa_line {text-align:left;}
.css_signa_obj {text-align:left;}
.css_jenisaturanpakai_label { }
.css_jenisaturanpakai_line { }
.css_jenisaturanpakai_obj { }
.css_biaya_label { }
.css_biaya_line {text-align:left;}
.css_biaya_obj {text-align:left;}
.css_strukresep_label { }
.css_strukresep_line { }
.css_strukresep_obj { }
.css_trandate_label { }
.css_trandate_line { }
.css_trandate_obj { }
.css_diskon_label { }
.css_diskon_line { }
.css_diskon_obj { }
