.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_pph_21_label { }
.css_pph_21_line {text-align:left;}
.css_pph_21_obj {text-align:left;}
.css_bpjs_tenaga_kerja_label { }
.css_bpjs_tenaga_kerja_line {text-align:left;}
.css_bpjs_tenaga_kerja_obj {text-align:left;}
.css_periode_remunerasi_label { }
.css_periode_remunerasi_line {text-align:left;}
.css_periode_remunerasi_obj {text-align:left;}
.css_id_karyawan_label { }
.css_id_karyawan_line {text-align:left;}
.css_id_karyawan_obj {text-align:left;}
