.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_karyawan_label { }
.css_id_karyawan_line {text-align:left;}
.css_id_karyawan_obj {text-align:left;}
.css_tanggal_kerja_label { }
.css_tanggal_kerja_line { }
.css_tanggal_kerja_obj { }
.css_id_daftar_shift_label { }
.css_id_daftar_shift_line {text-align:left;}
.css_id_daftar_shift_obj {text-align:left;}
