.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: left;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: left;}
.css_namapasien_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_namapasien_grid_line {font-weight:bold;text-align: center;}
.css_dokter_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dokter_grid_line {vertical-align: top;text-align: left;}
.css_selesai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selesai_grid_line {vertical-align: top;text-align: left;}
.css_tgldaftar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tgldaftar_grid_line {vertical-align: top;text-align: center;}
.css_tglkeluar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglkeluar_grid_line {vertical-align: top;text-align: center;}
.css_diagnosa1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagnosa1_grid_line {vertical-align: top;text-align: left;}
.css_icd1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_icd1_grid_line {vertical-align: top;text-align: left;}
.css_nostruk_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nostruk_grid_line {vertical-align: top;text-align: right;}
.css_statuspasien_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_statuspasien_grid_line {vertical-align: top;text-align: left;}
.css_carakeluar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_carakeluar_grid_line {vertical-align: top;text-align: left;}
.css_alasankeluar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_alasankeluar_grid_line {vertical-align: top;text-align: left;}
