.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_item__label { }
.css_item__line {width:12px;height:10px;}
.css_item__obj { }
.css_satuan__label { }
.css_satuan__line { }
.css_satuan__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_terpakai__label { }
.css_terpakai__line {text-align:left;}
.css_terpakai__obj {text-align:left;}
.css_signa__label { }
.css_signa__line { }
.css_signa__obj { }
.css_trandate__label { }
.css_trandate__line { }
.css_trandate__obj { }
.css_diskon__label { }
.css_diskon__line {text-align:left;}
.css_diskon__obj {text-align:left;}
.css_stok__label {text-align:center;}
.css_stok__line {text-align:center;}
.css_stok__obj {text-align:center;}
