.css_kode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kode_grid_line {vertical-align: top;text-align: right;}
.css_rm_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rm_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
.css_cito_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cito_grid_line {vertical-align: top;text-align: right;}
.css_diagpre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagpre_grid_line {vertical-align: top;text-align: right;}
.css_tindakan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tindakan_grid_line {vertical-align: top;text-align: right;}
.css_detail_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_detail_grid_line {text-align: center;}
