.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: left;}
.css_nama_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_nama_grid_line {font-weight:bold;text-align: center;}
.css_doctor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doctor_grid_line {vertical-align: top;text-align: left;}
.css_queue_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_queue_grid_line {vertical-align: top;text-align: right;}
.css_struckno_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_struckno_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: left;}
.css_bayar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bayar_grid_line {vertical-align: top;text-align: left;}
