.css_code_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_code_grid_line {vertical-align: top;text-align: left;}
.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: left;}
.css_deleted_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_deleted_grid_line {vertical-align: top;text-align: right;}
