.css_trandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_trandate_grid_line {vertical-align: top;text-align: center;}
.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: right;}
.css_ett_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ett_grid_line {vertical-align: top;text-align: right;}
.css_cvl_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cvl_grid_line {vertical-align: top;text-align: right;}
.css_ivl_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ivl_grid_line {vertical-align: top;text-align: right;}
.css_uc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_uc_grid_line {vertical-align: top;text-align: right;}
.css_vap_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_vap_grid_line {vertical-align: top;text-align: right;}
.css_iad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iad_grid_line {vertical-align: top;text-align: right;}
.css_pleb_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pleb_grid_line {vertical-align: top;text-align: right;}
.css_isk_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_isk_grid_line {vertical-align: top;text-align: right;}
.css_deku_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_deku_grid_line {vertical-align: top;text-align: right;}
.css_sputum_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sputum_grid_line {vertical-align: top;text-align: right;}
.css_darah_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_darah_grid_line {vertical-align: top;text-align: right;}
.css_urine_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_urine_grid_line {vertical-align: top;text-align: right;}
.css_antibiotik_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_antibiotik_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
