.css_posisi_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_posisi_grid_line {vertical-align: top;text-align: right;}
.css_code_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_code_grid_line {vertical-align: top;text-align: right;}
.css_actcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_actcode_grid_line {vertical-align: top;text-align: right;}
.css_penolong_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_penolong_grid_line {vertical-align: top;text-align: right;}
