.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_posisi__label { }
.css_posisi__line { }
.css_posisi__obj { }
.css_code__label { }
.css_code__line { }
.css_code__obj { }
.css_actcode__label {width:20px;}
.css_actcode__line {width:20px;}
.css_actcode__obj { }
.css_disc__label { }
.css_disc__line {text-align:left;}
.css_disc__obj {text-align:left;}
.css_penolong__label { }
.css_penolong__line { }
.css_penolong__obj { }
.css_kelas__label { }
.css_kelas__line { }
.css_kelas__obj { }
