.css_strukresep_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_strukresep_grid_line {vertical-align: top;text-align: left;}
.css_trandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_trandate_grid_line {vertical-align: top;text-align: center;}
.css_sc_field_0_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: center;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {font-weight:bold;vertical-align: top;text-align: left;}
.css_umur_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_umur_grid_line {text-align: left;}
.css_bed_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_bed_grid_line {text-align: center;}
.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: left;}
.css_jenis_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_jenis_grid_line {text-align: left;}
.css_status_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_status_grid_line {text-align: center;}
.css_detail_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_detail_grid_line {text-align: left;}
.css_sc_field_1_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_1_grid_line {text-align: center;}
.css_verifyby_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_verifyby_grid_line {text-align: center;}
.css_etiket_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_etiket_grid_line {text-align: left;}
