.css_b_gelar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_gelar_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_2_grid_line {vertical-align: top;text-align: left;}
.css_makan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_makan_grid_line {vertical-align: top;text-align: left;}
.css_b_diet_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_diet_grid_line {vertical-align: top;text-align: left;}
.css_b_mp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_mp_grid_line {vertical-align: top;text-align: left;}
.css_b_lh_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_lh_grid_line {vertical-align: top;text-align: left;}
.css_b_ln_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_ln_grid_line {vertical-align: top;text-align: left;}
.css_b_syr_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_syr_grid_line {vertical-align: top;text-align: left;}
.css_b_ekstra_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_ekstra_grid_line {vertical-align: top;text-align: left;}
.css_b_buah_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_buah_grid_line {vertical-align: top;text-align: left;}
