.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_kasbon_label { }
.css_kasbon_line {text-align:left;}
.css_kasbon_obj {text-align:left;}
.css_terlambat_label { }
.css_terlambat_line {text-align:left;}
.css_terlambat_obj {text-align:left;}
.css_alfa_izin_label { }
.css_alfa_izin_line {text-align:left;}
.css_alfa_izin_obj {text-align:left;}
.css_parkir_label { }
.css_parkir_line {text-align:left;}
.css_parkir_obj {text-align:left;}
.css_periode_remunerasi_label { }
.css_periode_remunerasi_line {text-align:left;}
.css_periode_remunerasi_obj {text-align:left;}
.css_id_karyawan_label { }
.css_id_karyawan_line {text-align:left;}
.css_id_karyawan_obj {text-align:left;}
