.css_nomor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nomor_grid_line {vertical-align: top;text-align: right;}
.css_vendor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vendor_grid_line {font-weight:bold;vertical-align: top;text-align: left;}
.css_faktur_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_faktur_grid_line {vertical-align: top;text-align: left;}
.css_jthtempo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_jthtempo_grid_line {vertical-align: top;text-align: center;}
.css_nobast_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nobast_grid_line {vertical-align: top;text-align: left;}
.css_s_po_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_s_po_grid_line {vertical-align: top;text-align: left;}
.css_s_bast_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_s_bast_grid_line {vertical-align: top;text-align: left;}
.css_s_ro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_s_ro_grid_line {vertical-align: top;text-align: left;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: left;}
