.css_app_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_app_name_grid_line {vertical-align: top;text-align: left;}
.css_description_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_description_grid_line {vertical-align: top;text-align: left;}
