.css_sc_field_0_det_label {text-align: right;vertical-align: middle;}
.css_sc_field_0_det_line {height:0px;text-align: right;}
.css_nama_det_label {text-align: right;vertical-align: middle;}
.css_nama_det_line {height:0px;text-align: right;}
.css_kategori_det_label {text-align: right;vertical-align: middle;}
.css_kategori_det_line {height:0px;text-align: right;}
.css_kelas_det_label {text-align: right;vertical-align: middle;}
.css_kelas_det_line {height:0px;text-align: right;}
.css_sc_field_1_det_label {text-align: right;vertical-align: middle;}
.css_sc_field_1_det_line {height:0px;text-align: right;}
.css_sc_field_2_det_label {text-align: right;vertical-align: middle;}
.css_sc_field_2_det_line {height:0px;text-align: right;}
.css_sc_field_3_det_label {text-align: right;vertical-align: middle;}
.css_sc_field_3_det_line {height:0px;text-align: right;}
