.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: right;}
.css_kategori_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kategori_grid_line {vertical-align: top;text-align: right;}
.css_kelas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kelas_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_2_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_2_tot_ger {text-align: right;}
