.css_custcode_label { }
.css_custcode_line { }
.css_custcode_obj { }
.css_poly_label { }
.css_poly_line { }
.css_poly_obj { }
.css_doctor_label { }
.css_doctor_line { }
.css_doctor_obj { }
.css_queue_label { }
.css_queue_line {text-align:left;}
.css_queue_obj {text-align:left;}
.css_regdate_label { }
.css_regdate_line { }
.css_regdate_obj { }
.css_regtime_label { }
.css_regtime_line { }
.css_regtime_obj { }
.css_struckno_label { }
.css_struckno_line { }
.css_struckno_obj { }
.css_status_label { }
.css_status_line { }
.css_status_obj { }
.css_hta_label { }
.css_hta_line { }
.css_hta_obj { }
.css_viaphone_label { }
.css_viaphone_line {text-align:left;}
.css_viaphone_obj {text-align:left;}
.css_inst_label { }
.css_inst_line { }
.css_inst_obj { }
.css_jenis_label { }
.css_jenis_line { }
.css_jenis_obj { }
.css_bayar_label { }
.css_bayar_line { }
.css_bayar_obj { }
.css_instcode_label { }
.css_instcode_line { }
.css_instcode_obj { }
.css_instno_label { }
.css_instno_line { }
.css_instno_obj { }
.css_instexpiry_label { }
.css_instexpiry_line { }
.css_instexpiry_obj { }
.css_admission_label { }
.css_admission_line { }
.css_admission_obj { }
.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_alamat_label { }
.css_alamat_line { }
.css_alamat_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_nama_label { }
.css_nama_line { }
.css_nama_obj { }
.css_tp_label { }
.css_tp_line { }
.css_tp_obj { }
.css_sc_field_1_label { }
.css_sc_field_1_line { }
.css_sc_field_1_obj { }
.css_sc_field_2_label { }
.css_sc_field_2_line { }
.css_sc_field_2_obj { }
.css_uk_label { }
.css_uk_line { }
.css_uk_obj { }
.css_usia_label { }
.css_usia_line { }
.css_usia_obj { }
.css_detailadm_label { }
.css_detailadm_line { }
.css_detailadm_obj { }
