.css_staffcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_staffcode_grid_line {vertical-align: top;text-align: right;}
.css_appcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_appcode_grid_line {vertical-align: top;text-align: right;}
.css_staffname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_staffname_grid_line {vertical-align: top;text-align: right;}
.css_surname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_surname_grid_line {vertical-align: top;text-align: right;}
.css_pob_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pob_grid_line {vertical-align: top;text-align: right;}
.css_dob_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_dob_grid_line {vertical-align: top;text-align: center;}
