.css_kodeitem_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kodeitem_grid_line {vertical-align: top;text-align: right;}
.css_namaitem_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namaitem_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_aktif_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aktif_grid_line {vertical-align: top;text-align: right;}
.css_jenisbarang_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenisbarang_grid_line {vertical-align: top;text-align: right;}
.css_satuanterkecil_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_satuanterkecil_grid_line {vertical-align: top;text-align: right;}
.css_stokminimal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_stokminimal_grid_line {vertical-align: top;text-align: right;}
.css_hargajual_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_hargajual_grid_line {vertical-align: top;text-align: right;}
.css_stok_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_stok_grid_line {text-align: right;}
.css_ed_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ed_grid_line {text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_jenisobat_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenisobat_grid_line {vertical-align: top;text-align: right;}
