.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_nostruk__label { }
.css_nostruk__line { }
.css_nostruk__obj { }
.css_status__label { }
.css_status__line {width:10px;}
.css_status__obj { }
.css_alamat__label { }
.css_alamat__line { }
.css_alamat__obj { }
.css_jenis__label { }
.css_jenis__line { }
.css_jenis__obj { }
.css_lokasi__label { }
.css_lokasi__line { }
.css_lokasi__obj { }
.css_sc_field_1__label { }
.css_sc_field_1__line { }
.css_sc_field_1__obj { }
.css_rm__label { }
.css_rm__line {font-weight:bold;}
.css_rm__obj { }
.css_sc_field_2__label { }
.css_sc_field_2__line { }
.css_sc_field_2__obj { }
.css_usia__label { }
.css_usia__line {font-weight:bold;}
.css_usia__obj { }
.css_dokter__label { }
.css_dokter__line { }
.css_dokter__obj { }
