.css_pbfcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pbfcode_grid_line {vertical-align: top;text-align: right;}
.css_pbfname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pbfname_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_city_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_city_grid_line {vertical-align: top;text-align: right;}
.css_phone_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_phone_grid_line {vertical-align: top;text-align: right;}
.css_cp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cp_grid_line {vertical-align: top;text-align: right;}
.css_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: right;}
.css_address_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_address_grid_line {vertical-align: top;text-align: right;}
.css_fax_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fax_grid_line {vertical-align: top;text-align: right;}
