.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_1_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_1_grid_line {text-align: center;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {font-weight:bold;text-align: left;}
.css_radcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_radcode_grid_line {vertical-align: top;text-align: left;}
.css_pemeriksaan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pemeriksaan_grid_line {text-align: left;}
.css_whatsapp_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_whatsapp_grid_line {text-align: left;}
.css_hasil_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_hasil_grid_line {vertical-align: top;text-align: left;}
