.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_kasbon_det_label {text-align: right;vertical-align: middle;}
.css_kasbon_det_line {height:0px;text-align: right;}
.css_terlambat_det_label {text-align: right;vertical-align: middle;}
.css_terlambat_det_line {height:0px;text-align: right;}
.css_alfa_izin_det_label {text-align: right;vertical-align: middle;}
.css_alfa_izin_det_line {height:0px;text-align: right;}
.css_parkir_det_label {text-align: right;vertical-align: middle;}
.css_parkir_det_line {height:0px;text-align: right;}
.css_periode_remunerasi_det_label {text-align: right;vertical-align: middle;}
.css_periode_remunerasi_det_line {height:0px;text-align: right;}
.css_id_karyawan_det_label {text-align: right;vertical-align: middle;}
.css_id_karyawan_det_line {height:0px;text-align: right;}
