.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_karyawan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_karyawan_grid_line {vertical-align: top;text-align: right;}
.css_kasbon_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_kasbon_grid_line {vertical-align: top;text-align: right;}
.css_terlambat_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_terlambat_grid_line {vertical-align: top;text-align: right;}
.css_alfa_izin_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_alfa_izin_grid_line {vertical-align: top;text-align: right;}
.css_parkir_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_parkir_grid_line {vertical-align: top;text-align: right;}
.css_periode_remunerasi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_periode_remunerasi_grid_line {vertical-align: top;text-align: right;}
