.css_tglmasuk_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglmasuk_grid_line {vertical-align: top;text-align: center;}
.css_tglkeluar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglkeluar_grid_line {vertical-align: top;text-align: center;}
.css_carakeluar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_carakeluar_grid_line {vertical-align: top;text-align: left;}
.css_dpjp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dpjp_grid_line {vertical-align: top;text-align: left;}
.css_diagnosa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagnosa_grid_line {vertical-align: top;text-align: left;}
.css_icd10_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_icd10_grid_line {vertical-align: top;text-align: left;}
.css_ruang_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ruang_grid_line {text-align: center;}
.css_detailmedis_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_detailmedis_grid_line {text-align: center;}
.css_kategori_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kategori_grid_line {vertical-align: top;text-align: left;}
.css_poli_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_poli_grid_line {vertical-align: top;text-align: left;}
