.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_deskripsi_det_label {text-align: left;vertical-align: middle;}
.css_deskripsi_det_line {height:0px;text-align: left;}
.css_keterangan_det_label {text-align: left;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: left;}
.css_parent_id_det_label {text-align: left;vertical-align: middle;}
.css_parent_id_det_line {height:0px;text-align: left;}
