.css_tgl_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tgl_grid_line {vertical-align: top;text-align: center;}
.css_hp_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_hp_grid_line {vertical-align: top;text-align: right;}
.css_jmlbed_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_jmlbed_grid_line {vertical-align: top;text-align: right;}
.css_bor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bor_grid_line {vertical-align: top;text-align: right;}
