.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_harga__label { }
.css_harga__line {text-align:left;}
.css_harga__obj {text-align:left;}
.css_hargadate__label { }
.css_hargadate__line { }
.css_hargadate__obj { }
