.css_detail_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_detail_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: left;}
.css_alamat_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_alamat_grid_line {vertical-align: top;text-align: left;}
