.css_kode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kode_grid_line {vertical-align: top;text-align: left;}
.css_tindakan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tindakan_grid_line {vertical-align: top;text-align: left;}
.css_poli_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_poli_grid_line {vertical-align: top;text-align: left;}
.css_kelas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kelas_grid_line {vertical-align: top;text-align: left;}
.css_pembayaran_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pembayaran_grid_line {vertical-align: top;text-align: left;}
.css_tarif_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tarif_grid_line {vertical-align: top;text-align: right;}
