.css_tglkeluar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglkeluar_grid_line {vertical-align: top;text-align: center;}
.css_rm_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rm_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_dokter_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dokter_grid_line {vertical-align: top;text-align: right;}
.css_jenis_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_jenis_grid_line {text-align: right;}
.css_carakeluar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_carakeluar_grid_line {vertical-align: top;text-align: right;}
.css_selesai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selesai_grid_line {vertical-align: top;text-align: right;}
.css_kode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kode_grid_line {vertical-align: top;text-align: right;}
.css_struk_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_struk_grid_line {vertical-align: top;text-align: right;}
.css_lunas_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_lunas_grid_line {text-align: right;}
