.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_labcode__label { }
.css_labcode__line { }
.css_labcode__obj { }
.css_rate__label { }
.css_rate__line {text-align:left;}
.css_rate__obj {text-align:left;}
.css_disc__label { }
.css_disc__line {text-align:left;}
.css_disc__obj {text-align:left;}
.css_trandate__label { }
.css_trandate__line { }
.css_trandate__obj { }
