.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_principal__label { }
.css_principal__line { }
.css_principal__obj { }
.css_harga__label { }
.css_harga__line { }
.css_harga__obj { }
.css_isi__label { }
.css_isi__line {text-align:left;}
.css_isi__obj {text-align:left;}
.css_buydate__label { }
.css_buydate__line { }
.css_buydate__obj { }
.css_aktif__label { }
.css_aktif__line { }
.css_aktif__obj { }
