.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_nama_transaksi_det_label {text-align: left;vertical-align: middle;}
.css_nama_transaksi_det_line {height:0px;text-align: left;}
.css_flag_det_label {text-align: left;vertical-align: middle;}
.css_flag_det_line {height:0px;text-align: left;}
.css_keterangan_det_label {text-align: left;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: left;}
