.css_id_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: left;}
.css_nama_transaksi_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_transaksi_grid_line {vertical-align: top;text-align: left;}
.css_flag_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_flag_grid_line {vertical-align: top;text-align: left;}
.css_keterangan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keterangan_grid_line {vertical-align: top;text-align: left;}
