.css_tinggi_label { }
.css_tinggi_line {text-align:left;}
.css_tinggi_obj {text-align:left;}
.css_berat_label { }
.css_berat_line {text-align:left;}
.css_berat_obj {text-align:left;}
.css_detakjantung_label { }
.css_detakjantung_line {text-align:left;}
.css_detakjantung_obj {text-align:left;}
.css_tekanandarah_label { }
.css_tekanandarah_line { }
.css_tekanandarah_obj { }
.css_suhu_label { }
.css_suhu_line {text-align:left;}
.css_suhu_obj {text-align:left;}
.css_nafas_label { }
.css_nafas_line {text-align:left;}
.css_nafas_obj {text-align:left;}
.css_keluhan_label { }
.css_keluhan_line { }
.css_keluhan_obj { }
.css_pemeriksa_label { }
.css_pemeriksa_line { }
.css_pemeriksa_obj { }
.css_tglperiksa_label { }
.css_tglperiksa_line { }
.css_tglperiksa_obj { }
