.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_akun__label { }
.css_akun__line { }
.css_akun__obj { }
.css_nominal__label { }
.css_nominal__line {text-align:left;}
.css_nominal__obj {text-align:left;}
.css_flag__label { }
.css_flag__line { }
.css_flag__obj { }
