.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_satuanobat_det_label {text-align: left;vertical-align: middle;}
.css_satuanobat_det_line {height:0px;text-align: left;}
