.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_satuanobat_det_label {text-align: right;vertical-align: middle;}
.css_satuanobat_det_line {height:0px;text-align: right;}
