.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_pengeluarancode_det_label {text-align: left;vertical-align: middle;}
.css_pengeluarancode_det_line {height:0px;text-align: left;}
.css_tgl_det_label {text-align: left;vertical-align: middle;}
.css_tgl_det_line {height:0px;text-align: left;}
.css_status_det_label {text-align: left;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: left;}
.css_keterangan_det_label {text-align: left;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: left;}
.css_selesai_det_label {text-align: left;vertical-align: middle;}
.css_selesai_det_line {height:0px;text-align: left;}
