.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_presensi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_presensi_grid_line {vertical-align: top;text-align: right;}
.css_user_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_user_name_grid_line {vertical-align: top;text-align: left;}
.css_privilege_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_privilege_grid_line {vertical-align: top;text-align: right;}
.css_id_mesin_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_mesin_grid_line {vertical-align: top;text-align: right;}
