.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_id_presensi_det_label {text-align: right;vertical-align: middle;}
.css_id_presensi_det_line {height:0px;text-align: right;}
.css_user_name_det_label {text-align: right;vertical-align: middle;}
.css_user_name_det_line {height:0px;text-align: right;}
.css_privilege_det_label {text-align: right;vertical-align: middle;}
.css_privilege_det_line {height:0px;text-align: right;}
.css_id_mesin_det_label {text-align: right;vertical-align: middle;}
.css_id_mesin_det_line {height:0px;text-align: right;}
