.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_namacp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namacp_grid_line {vertical-align: top;text-align: right;}
.css_icd_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_icd_grid_line {vertical-align: top;text-align: right;}
.css_rate1_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rate1_grid_line {text-align: right;}
.css_rate2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rate2_grid_line {text-align: right;}
.css_rate3_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rate3_grid_line {text-align: right;}
.css_aktif_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_aktif_grid_line {vertical-align: top;text-align: right;}
