.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_koderetur_det_label {text-align: left;vertical-align: middle;}
.css_koderetur_det_line {height:0px;text-align: left;}
.css_tglretur_det_label {text-align: left;vertical-align: middle;}
.css_tglretur_det_line {height:0px;text-align: left;}
.css_supplier_det_label {text-align: left;vertical-align: middle;}
.css_supplier_det_line {height:0px;text-align: left;}
.css_selesai_det_label {text-align: left;vertical-align: middle;}
.css_selesai_det_line {height:0px;text-align: left;}
