.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_rkkcode_det_label {text-align: right;vertical-align: middle;}
.css_rkkcode_det_line {height:0px;text-align: right;}
.css_status_det_label {text-align: right;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: right;}
