.css_kode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kode_grid_line {vertical-align: top;text-align: left;}
.css_struk_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_struk_grid_line {vertical-align: top;text-align: left;}
.css_pasien_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pasien_grid_line {font-weight:bold;vertical-align: top;text-align: left;}
.css_dpjp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dpjp_grid_line {vertical-align: top;text-align: left;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: left;}
.css_selesai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_selesai_grid_line {vertical-align: top;text-align: left;}
