.css_tglbayar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tglbayar_grid_line {vertical-align: top;text-align: center;}
.css_nopayment_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nopayment_grid_line {vertical-align: top;text-align: right;}
.css_nostruk_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nostruk_grid_line {vertical-align: top;text-align: right;}
.css_trancode_label {text-align:left;vertical-align:top;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:left;vertical-align:top;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_diagnosa_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_diagnosa_grid_line {text-align: center;}
.css_jmlbayar_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_jmlbayar_grid_line {vertical-align: top;text-align: right;}
.css_jenispayment_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenispayment_grid_line {vertical-align: top;text-align: right;}
.css_kasir_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kasir_grid_line {vertical-align: top;text-align: right;}
.css_totals_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_totals_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_totals_tot_ger {text-align: ;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_dokter_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dokter_grid_line {vertical-align: top;text-align: right;}
.css_jmltagihan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_jmltagihan_grid_line {vertical-align: top;text-align: right;}
.css_totals_S_tot_ger {text-align: right;}
