.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: left;}
.css_racikancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_racikancode_grid_line {vertical-align: top;text-align: left;}
.css_jasaresep_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_jasaresep_grid_line {vertical-align: top;text-align: right;}
.css_signakali_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_signakali_grid_line {vertical-align: top;text-align: right;}
.css_jenisaturanpakai_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenisaturanpakai_grid_line {vertical-align: top;text-align: left;}
