.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_trancode_det_label {text-align: right;vertical-align: middle;}
.css_trancode_det_line {height:0px;text-align: right;}
.css_racikancode_det_label {text-align: right;vertical-align: middle;}
.css_racikancode_det_line {height:0px;text-align: right;}
.css_jasaresep_det_label {text-align: right;vertical-align: middle;}
.css_jasaresep_det_line {height:0px;text-align: right;}
.css_signakali_det_label {text-align: right;vertical-align: middle;}
.css_signakali_det_line {height:0px;text-align: right;}
.css_jenisaturanpakai_det_label {text-align: right;vertical-align: middle;}
.css_jenisaturanpakai_det_line {height:0px;text-align: right;}
.css_totalracikan_det_label {text-align: right;vertical-align: middle;}
.css_totalracikan_det_line {height:0px;text-align: right;}
.css_hargatotal_det_label {text-align: right;vertical-align: middle;}
.css_hargatotal_det_line {height:0px;text-align: right;}
