.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_penghasilansbl__label { }
.css_penghasilansbl__line {text-align:left;}
.css_penghasilansbl__obj {text-align:left;}
.css_penghasilaningin__label { }
.css_penghasilaningin__line {text-align:left;}
.css_penghasilaningin__obj {text-align:left;}
.css_fasilitassbl__label { }
.css_fasilitassbl__line { }
.css_fasilitassbl__obj { }
.css_fasilitasingin__label { }
.css_fasilitasingin__line { }
.css_fasilitasingin__obj { }
