.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_usulancode_det_label {text-align: left;vertical-align: middle;}
.css_usulancode_det_line {height:0px;text-align: left;}
.css_keterangan_det_label {text-align: left;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: left;}
.css_nopo_det_label {text-align: left;vertical-align: middle;}
.css_nopo_det_line {height:0px;text-align: left;}
.css_orderdate_det_label {text-align: left;vertical-align: middle;}
.css_orderdate_det_line {height:0px;text-align: left;}
.css_pic_acc_det_label {text-align: left;vertical-align: middle;}
.css_pic_acc_det_line {height:0px;text-align: left;}
.css_pic_date_det_label {text-align: left;vertical-align: middle;}
.css_pic_date_det_line {height:0px;text-align: left;}
.css_spv_acc_det_label {text-align: left;vertical-align: middle;}
.css_spv_acc_det_line {height:0px;text-align: left;}
.css_spv_date_det_label {text-align: left;vertical-align: middle;}
.css_spv_date_det_line {height:0px;text-align: left;}
.css_selesai_det_label {text-align: left;vertical-align: middle;}
.css_selesai_det_line {height:0px;text-align: left;}
.css_wk_date_det_label {text-align: left;vertical-align: middle;}
.css_wk_date_det_line {height:0px;text-align: left;}
