.scAppDivHeaderText { text-align: right }
.scAppDivContentText { text-align: right }
.scAppDivToolbar { text-align: right }
.scAppDivToolbarInput { text-align: right }
.scAppDivSelectFieldsEnabled { text-align: right }
.scAppDivSelectFieldsDisabled { text-align: right }
.scAppDivTabLine { text-align: right }
.scExportEmailLabelSent { text-align: center }
.scGridFilterTagListItemClose:after { text-align: center }
.scGridFilterTagClose:after { text-align: center }
.scGridFilterTagListFilterLabelClose:after { text-align: center }
