.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_namapemeriksaan__label { }
.css_namapemeriksaan__line { }
.css_namapemeriksaan__obj { }
.css_standardari__label { }
.css_standardari__line {text-align:left;}
.css_standardari__obj {text-align:left;}
.css_standarsampai__label { }
.css_standarsampai__line {text-align:left;}
.css_standarsampai__obj {text-align:left;}
.css_nilai__label { }
.css_nilai__line {text-align:left;}
.css_nilai__obj {text-align:left;}
.css_dokter__label { }
.css_dokter__line { }
.css_dokter__obj { }
.css_keterangan__label { }
.css_keterangan__line { }
.css_keterangan__obj { }
.css_tglperiksa__label { }
.css_tglperiksa__line { }
.css_tglperiksa__obj { }
