.css_labcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_labcode_grid_line {vertical-align: top;text-align: right;}
.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: right;}
.css_tipehasil_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipehasil_grid_line {vertical-align: top;text-align: right;}
.css_lastupdated_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_lastupdated_grid_line {vertical-align: top;text-align: center;}
.css_kategori_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kategori_grid_line {vertical-align: top;text-align: right;}
.css_subname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_subname_grid_line {vertical-align: top;text-align: right;}
.css_oper_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_oper_grid_line {vertical-align: top;text-align: right;}
.css_p1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p1_grid_line {vertical-align: top;text-align: right;}
