.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_namaformula_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namaformula_grid_line {font-weight:bold;vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_0_grid_line {font-weight:bold;text-align: center;}
.css_detail_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_detail_grid_line {text-align: center;}
