.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: center;}
.css_description_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_description_grid_line {vertical-align: top;text-align: left;}
.css_alergi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_alergi_grid_line {vertical-align: top;text-align: right;}
.css_note_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_note_grid_line {vertical-align: top;text-align: right;}
