.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_no_skep_label { }
.css_no_skep_line { }
.css_no_skep_obj { }
.css_tanggal_skep_label { }
.css_tanggal_skep_line { }
.css_tanggal_skep_obj { }
.css_id_karyawan_label { }
.css_id_karyawan_line {text-align:left;}
.css_id_karyawan_obj {text-align:left;}
.css_keterangan_label { }
.css_keterangan_line { }
.css_keterangan_obj { }
