.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: left;}
.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: left;}
.css_pasien_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_pasien_grid_line {text-align: center;}
.css_diagnosa1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagnosa1_grid_line {vertical-align: top;text-align: left;}
.css_icd1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_icd1_grid_line {vertical-align: top;text-align: left;}
.css_diagnosa2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_diagnosa2_grid_line {vertical-align: top;text-align: left;}
.css_icd2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_icd2_grid_line {vertical-align: top;text-align: left;}
