.css_kodeitem_label { }
.css_kodeitem_line { }
.css_kodeitem_obj { }
.css_namaitem_label { }
.css_namaitem_line { }
.css_namaitem_obj { }
.css_jenisbarang_label { }
.css_jenisbarang_line { }
.css_jenisbarang_obj { }
.css_satuanterkecil_label { }
.css_satuanterkecil_line { }
.css_satuanterkecil_obj { }
.css_keterangan_label { }
.css_keterangan_line { }
.css_keterangan_obj { }
.css_stokminimal_label { }
.css_stokminimal_line {text-align:left;}
.css_stokminimal_obj {text-align:left;}
.css_aktif_label { }
.css_aktif_line { }
.css_aktif_obj { }
.css_hargajual_label { }
.css_hargajual_line {text-align:left;}
.css_hargajual_obj {text-align:left;}
.css_kemasanbeli_label { }
.css_kemasanbeli_line { }
.css_kemasanbeli_obj { }
.css_id_fornas_label { }
.css_id_fornas_line {text-align:left;}
.css_id_fornas_obj {text-align:left;}
.css_generik_label { }
.css_generik_line {text-align:left;}
.css_generik_obj {text-align:left;}
.css_paten_label { }
.css_paten_line {text-align:left;}
.css_paten_obj {text-align:left;}
.css_max_label { }
.css_max_line {text-align:left;}
.css_max_obj {text-align:left;}
.css_satuanisi_label { }
.css_satuanisi_line {text-align:left;}
.css_satuanisi_obj {text-align:left;}
.css_stock_label { }
.css_stock_line { }
.css_stock_obj { }
.css_margin_label { }
.css_margin_line { }
.css_margin_obj { }
.css_grid_his_buy_label { }
.css_grid_his_buy_line { }
.css_grid_his_buy_obj { }
