.css_item_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_item_grid_line {vertical-align: top;text-align: left;}
.css_depo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_depo_grid_line {vertical-align: top;text-align: left;}
.css_stok_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_stok_grid_line {vertical-align: top;text-align: right;}
