.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_trancode__label { }
.css_trancode__line { }
.css_trancode__obj { }
.css_keterangan__label { }
.css_keterangan__line { }
.css_keterangan__obj { }
.css_jumlah__label { }
.css_jumlah__line {text-align:left;}
.css_jumlah__obj {text-align:left;}
.css_biaya__label { }
.css_biaya__line {text-align:left;}
.css_biaya__obj {text-align:left;}
.css_cover__label { }
.css_cover__line {text-align:left;}
.css_cover__obj {text-align:left;}
.css_subtotal__label { }
.css_subtotal__line {text-align:left;}
.css_subtotal__obj {text-align:left;}
.css_trandate__label { }
.css_trandate__line { }
.css_trandate__obj { }
