.css_custcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_custcode_grid_line {vertical-align: top;text-align: right;}
.css_poly_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_poly_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_0_grid_line {font-weight:bold;text-align: center;}
.css_sc_field_1_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_1_grid_line {text-align: center;}
.css_phone_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_phone_grid_line {text-align: center;}
.css_doctor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doctor_grid_line {vertical-align: top;text-align: right;}
.css_queue_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_queue_grid_line {vertical-align: top;text-align: right;}
.css_regdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_regdate_grid_line {vertical-align: top;text-align: center;}
.css_regtime_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_regtime_grid_line {vertical-align: top;text-align: right;}
.css_handled_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_handled_grid_line {vertical-align: top;text-align: center;}
.css_bayar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bayar_grid_line {vertical-align: top;text-align: right;}
.css_inst_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_inst_grid_line {vertical-align: top;text-align: right;}
.css_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: right;}
.css_struckno_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_struckno_grid_line {vertical-align: top;text-align: right;}
