.css_idtarifinap_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtarifinap_grid_line {vertical-align: top;text-align: right;}
.css_namakelas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_namakelas_grid_line {vertical-align: top;text-align: left;}
.css_tarifkamar_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tarifkamar_grid_line {vertical-align: top;text-align: right;}
.css_tarifkeperawatan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tarifkeperawatan_grid_line {vertical-align: top;text-align: right;}
.css_tarifvisitumum_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tarifvisitumum_grid_line {vertical-align: top;text-align: right;}
.css_tarifvisitspesialis_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tarifvisitspesialis_grid_line {vertical-align: top;text-align: right;}
