.css_idtarifinap_det_label {text-align: left;vertical-align: middle;}
.css_idtarifinap_det_line {height:0px;text-align: left;}
.css_namakelas_det_label {text-align: left;vertical-align: middle;}
.css_namakelas_det_line {height:0px;text-align: left;}
.css_tarifkamar_det_label {text-align: left;vertical-align: middle;}
.css_tarifkamar_det_line {height:0px;text-align: left;}
.css_tarifkeperawatan_det_label {text-align: left;vertical-align: middle;}
.css_tarifkeperawatan_det_line {height:0px;text-align: left;}
.css_tarifvisitumum_det_label {text-align: left;vertical-align: middle;}
.css_tarifvisitumum_det_line {height:0px;text-align: left;}
.css_tarifvisitspesialis_det_label {text-align: left;vertical-align: middle;}
.css_tarifvisitspesialis_det_line {height:0px;text-align: left;}
.css_citoumum_det_label {text-align: left;vertical-align: middle;}
.css_citoumum_det_line {height:0px;text-align: left;}
.css_citospesialis_det_label {text-align: left;vertical-align: middle;}
.css_citospesialis_det_line {height:0px;text-align: left;}
