.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_keterangan_det_label {text-align: right;vertical-align: middle;}
.css_keterangan_det_line {height:0px;text-align: right;}
.css_start_time_det_label {text-align: right;vertical-align: middle;}
.css_start_time_det_line {height:0px;text-align: right;}
.css_end_time_det_label {text-align: right;vertical-align: middle;}
.css_end_time_det_line {height:0px;text-align: right;}
