.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_signacode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_signacode_grid_line {vertical-align: top;text-align: right;}
.css_signaname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_signaname_grid_line {vertical-align: top;text-align: right;}
.css_poli_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_poli_grid_line {vertical-align: top;text-align: right;}
