.scContainerPage { background-color: #fafbfe; background-image: none; background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100); padding: 20px }
.scContainerHeader { background-color: #727cf5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #727cf5; border-style: solid; border-width: 1px }
.scContainerHeaderFont { color: #FFFFFF; font-family: 'Nunito', sans-serif; font-size: 13px; text-decoration: none }
.scContainerFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scContainerFooterFont { color: #999999; font-family: 'Nunito', sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scContainerWidget { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0; border-radius: css_container_moldura_border_radius; border-color: #E0E6ED; border-style: solid; border-width: 1px }
.scContainerMaximized { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0; border-radius: css_container_moldura_border_radius; border-color: #E0E6ED; border-style: solid; border-width: 1px }
.scContainerTitle { color: #98a6ad; font-family: 'Nunito', sans-serif; font-size: 18px; text-decoration: none; float: left; margin: 0; list-style: none; border: none; line-height: 23px }
.widget-head { overflow: hidden; width: 100%; height: 23px; line-height: 23px }
.widget-is-moveable:hover { cursor: move }
.widget-placeholder { border-color: #E0E6ED; border-style: solid; border-width: 2px; margin: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px }
.widget-head a.remove { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_buttons.png); background-repeat: no-repeat; background-position: -24px }
.widget-head a.collapse { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_buttons.png); background-repeat: no-repeat; background-position: -52px }
.widget-content-title- { height: calc(100% - 28px) !important }
.widget-content-title-none { height: calc(100% - 5px) !important }
.scContainerIndexMoldura { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px }
.scContainerIndexTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: 'Nunito', sans-serif; font-size: 13px; text-decoration: none }
.scContainerIndexPosText { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: 'Nunito', sans-serif; text-decoration: none }
.scContainerIndexPosTextSize { font-size: 48px }
.scContainerIndexNegText { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: 'Nunito', sans-serif; text-decoration: none }
.scContainerIndexNegTextSize { font-size: 48px }
.scContainerIndexNeuText { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: 'Nunito', sans-serif; text-decoration: none }
.scContainerIndexNeuTextSize { font-size: 48px }
.scContainerIndexPosIcon { color: #0acf97 }
.scContainerIndexNegIcon { color: #fa5c7c }
.scContainerIndexNeuIcon { color: #6c757d }
.scContainerIndexDimension { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: 'Nunito', sans-serif; font-size: 14px; text-decoration: none }
.scContainerIndexMetricPos { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #0acf97; font-family: 'Nunito', sans-serif; font-size: 14px; text-decoration: none }
.scContainerIndexMetricNeg { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #fa5c7c; font-family: 'Nunito', sans-serif; font-size: 14px; text-decoration: none }
.scContainerIndexMetricNeu { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: 'Nunito', sans-serif; font-size: 14px; text-decoration: none }

.grid-stack-item,
.grid-stack>.grid-stack-item>.grid-stack-item-content {
      overflow:auto!important;
      -webkit-overflow-scrolling:touch !important;
}
