.css_tgl_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tgl_grid_line {vertical-align: top;text-align: center;}
.css_rm_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rm_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_sc_field_1_grid_line {font-weight:bold;text-align: right;}
.css_jk_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jk_grid_line {vertical-align: top;text-align: right;}
.css_umur_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_umur_grid_line {text-align: right;}
.css_tl_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tl_grid_line {vertical-align: top;text-align: center;}
.css_pemeriksaan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pemeriksaan_grid_line {vertical-align: top;text-align: right;}
.css_harga_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_harga_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: right;}
.css_poli_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_poli_grid_line {vertical-align: top;text-align: right;}
.css_tranri_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tranri_grid_line {vertical-align: top;text-align: right;}
