.css_nama_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nama_grid_line {vertical-align: top;text-align: right;}
.css_jenis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jenis_grid_line {vertical-align: top;text-align: right;}
.css_golongan_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_golongan_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_0_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: right;}
.css_konversi_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_konversi_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_2_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_3_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_3_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_4_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_4_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_5_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_5_grid_line {vertical-align: top;text-align: right;}
.css_dipesan_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_dipesan_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_6_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_6_grid_line {vertical-align: top;text-align: right;}
.css_principal_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_principal_grid_line {vertical-align: top;text-align: right;}
