.scSweetAlertHeader { background-image: none; font-family: 'Nunito', sans-serif; font-size: 13px; opacity: 1; filter: alpha(opacity=100) }
.swal2-container .swal2-modal .swal2-title { color: #000000 }
.scSweetAlertMessage { background-image: none; color: #000000; font-family: 'Nunito', sans-serif; font-size: 13px; padding: 0 0 0 10px; opacity: 1; filter: alpha(opacity=100) }
.scSweetAlertPopup { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: none; border-width: 0; padding: 1.5em }
.swal2-container .swal2-popup.swal2-toast .swal2-icon { font-size: .7em }
.swal2-container .swal2-modal { width: auto; padding: 2em 3em }
.scToastHeader { background-image: none; font-family: 'Nunito', sans-serif; font-size: 13px; opacity: 1; filter: alpha(opacity=100) }
.scToastHeader,.swal2-container .swal2-title { color: #000000 }
.scToastMessage { background-image: none; color: #000000; font-family: 'Nunito', sans-serif; font-size: 13px; padding: 0 0 0 10px; opacity: 1; filter: alpha(opacity=100) }
.scToastPopup { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: none; border-width: 0; padding: 1.5em }
.swal2-container .scToastPopup { box-shadow: 0 0 .25em #404040 }
