.css_sc_field_0_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: center;}
.css_sc_field_1_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: center;}
.css_sc_field_2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_2_grid_line {vertical-align: top;text-align: right;}
.css_kategori_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_kategori_grid_line {vertical-align: top;text-align: right;}
.css_deskripsi_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_deskripsi_grid_line {vertical-align: top;text-align: right;}
.css_masuk_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_masuk_grid_line {vertical-align: top;text-align: right;}
.css_keluar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_keluar_grid_line {vertical-align: top;text-align: right;}
