.css_polycode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_polycode_grid_line {vertical-align: top;text-align: right;}
.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: right;}
.css_headname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_headname_grid_line {vertical-align: top;text-align: right;}
.css_note_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_note_grid_line {vertical-align: top;text-align: right;}
.css_openrate_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_openrate_grid_line {vertical-align: top;text-align: right;}
.css_lockdiag_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_lockdiag_grid_line {vertical-align: top;text-align: right;}
